@inject IXDtoClient xClient
@inject XLangToast xtoa
@inject XNavMenu xnav
@attribute [Authorize]
@*Toast component by Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<AuthorizeView Roles="Teacher">
    <Authorized>
        <div class="toast-container p-3 @showClass"
             style="position: fixed; top: auto; top: @(xnav.Pos_V)px; margin-left: @(xnav.Pos_H)px; z-index: 5" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast show bg-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 355px">
                <div class="toast-header" @onmouseup=" _ => xnav.Mouse('U', _)" @onmousedown=" _ => xnav.Mouse('D', _)"
                     @onmousemove=" _ => xnav.Mouse('M', _)" @onmouseout=" _ => xnav.Mouse('M', _)">
                    <strong class="me-auto">@HeaderText</strong>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
                </div>

                <div class="toast-body">
                    <EditForm Model="@xClient" Context="copymodulelmslexnet" OnSubmit="HandleSubmitCopy">
                        <div style="font-size: 0.8rem; margin-bottom: 18px; color:darkred">
                            @xtoa.TxtText[0]<br />@xtoa.TxtText[1]
                        </div>
                        <fieldset class="form-group border">
                            <legend class="w-auto" style="font-size: 0.65rem; position: relative; top: -8px; left: 10px; background-color: white">
                                &nbsp;DOCUMENT SELECTION&nbsp;
                            </legend>
                            <InputRadioGroup Name="DocRadio" @bind-Value="DocSelect">
                                <div class="form-group m-1">
                                    <InputRadio id="Select0" class="form-check-inline" Value="0" />
                                    <label for="Select0">@xtoa.TxtText[2]</label>
                                </div>
                                <div class="form-group m-1">
                                    <InputRadio id="Select1" class="form-check-inline" Value="1" />
                                    <label for="Select1">@xtoa.TxtText[3]</label>
                                </div>
                                <div class="form-group m-1">
                                    <InputRadio id="Select2" class="form-check-inline" Value="2" />
                                    <label for="Select2">@xtoa.TxtText[4]</label>
                                </div>
                                <div class="form-group m-1">
                                    <InputRadio id="Select3" class="form-check-inline" Value="3" />
                                    <label for="Select3">@xtoa.TxtText[5]</label>
                                </div>
                            </InputRadioGroup>
                        </fieldset>
                        <div class="form-group m-3">
                            <InputCheckbox id="ThisCourse" class="form-check-inline" @bind-Value="IsThis" />
                            <label for="ThisCourse">@xtoa.TxtText[6]</label>
                        </div>
                        <div class="form-group m-3">
                            <label for="Modulename">@xtoa.TxtText[7]</label>
                            <InputText id="Modulename" class="form-control" @bind-Value="Mname" />
                        </div>
                        <div class="form-group m-3">
                            <button type="submit" class="text-white remyes" style="margin-right: 15px"
                                title=@xtoa.TxtTitle[2]>@xtoa.TxtButton[12]</button> @* Copy *@
                            <button type="button" class="text-white rembtn" style="margin-right: 15px" @onclick="ThisIntoNew"
                                title=@xtoa.TxtTitle[3]>@xtoa.TxtButton[13]</button> @* This Into New *@
                            <button type="button" class="text-white remnot" @onclick="Close">@xtoa.TxtButton[0]</button> @* NO *@
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string HeaderText = string.Empty;
    private string showClass = "d-none";
    private string Mname = string.Empty;
    private int DocSelect; // Måste vara int!
    private bool IsSame;
    private bool IsThis;
    private bool IsFind;

    public async Task Show()
    {
        xnav.SetReset('a');

        var dim = await xClient.GetWindow(); // Hämtar aktuell skärmstorlek.
        xnav.Pos_H = (int)Math.Round(dim.Width * 0.08); // 08%
        xnav.Pos_V = (int)Math.Round(dim.Height * 0.2); // 20%

        Mname = string.Empty;
        DocSelect = 1;
        IsSame = false;
        IsFind = false;
        IsThis = true;
        HeaderText = xtoa.TxtHead[1];
        showClass = "d-block";
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        showClass = "d-none";
        StateHasChanged();
    }

    private async Task HandleSubmitCopy()
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");
        int IdMod = 0;

        if (Mname == Auxx.Name4Type) IsSame = true;

        if (module is not null && !IsSame)
        {
            foreach (var mod in module)
            {
                if (IsThis)
                {
                    if (mod.Name == Mname && mod.CourseId == Auxx.CourseId)
                    {
                        await Copy(mod);
                        IdMod = mod.Id;
                        IsFind = true;
                    }
                }
                else
                {
                    if (mod.Name == Mname)
                    {
                        await Copy(mod);
                        IdMod = mod.Id;
                        IsFind = true;
                    }
                }
            }
        }

        // Flytt av dokument.
        if (DocSelect != 0 && IdMod != 0 && IsFind) await MoveDoc(IdMod);

        if (!IsFind && IsThis)
        {
            xnav.SetError(xtoa.TxtError[1] + Mname + xtoa.TxtError[2]);
            xnav.SetReset('e');
        }

        if (!IsFind && !IsThis)
        {
            xnav.SetError(xtoa.TxtError[1] + Mname + xtoa.TxtError[3]);
            xnav.SetReset('e');
        }

        if (IsSame)
        {
            xnav.SetError(xtoa.TxtError[4]);
            xnav.SetReset('e');
        }

        Auxx.Flag = true;
        Close(); // En omnavigering här nollställer alla variabler inklusive statiska.
    }

    private async Task ThisIntoNew()
    {
        // Skapar en ny modul.
        var lmod = new ModuleDto
        {
            Morder = 0,
            Name = "_#N#E#W#_#M#O#D#U#L#E#_",
            Description = "Not yet a description",
            StartDate = DateTime.Now,
            EndDate = DateTime.Now,
            Select = 1,
            CourseId = Auxx.CourseId
        };

        await xClient.PostAsync<ModuleDto>(lmod, "api/Module");

        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");
        int IdMod = 0;

        if (module is not null)
        {
            foreach (var newmod in module)
            {
                if (newmod.Name == "_#N#E#W#_#M#O#D#U#L#E#_" && newmod.CourseId == Auxx.CourseId) IdMod = newmod.Id;
            }

            foreach (var mod in module)
            {
                // Kopiering av modul.
                if (mod.Id == Auxx.IntId)
                {
                    lmod.Id = IdMod;
                    lmod.Morder = 0;
                    lmod.Name = "© " + mod.Name;
                    lmod.Description = mod.Description;
                    lmod.StartDate = mod.StartDate;
                    lmod.EndDate = mod.EndDate;
                    lmod.Select = mod.Select;
                    lmod.CourseId = mod.CourseId;

                    await xClient.PutAsync<ModuleDto>(lmod.Id, lmod, "api/Module");
                    xnav.SetDone(xtoa.TxtDone[1]);
                    xnav.SetReset('d');
                }
            }
        }

        if (activity is not null)
        {
            foreach (var act in activity)
            {
                // Kopiering av aktiviteter.
                if (act.ModuleId == Auxx.IntId)
                {
                    var lact = new ActivityDto
                    {
                        Name = act.Name,
                        Description = act.Description,
                        StartDate = act.StartDate,
                        EndDate = act.EndDate,
                        Select = act.Select,
                        ModuleId = IdMod,
                        ActivityTypeId = act.ActivityTypeId
                    };

                    await xClient.PostAsync<ActivityDto>(lact, "api/Activity");
                }
            }
        }

        Auxx.Flag = true;
        Close(); // En omnavigering här nollställer alla variabler inklusive statiska.
    }

    private async Task Copy(ModuleDto cmod)
    {
        // Dokument som hör till modulens aktiviteter.
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");

        if (activity is not null && document is not null)
        {
            foreach (var act in activity)
            {
                if (act.ModuleId == Auxx.IntId) // Dess aktiviteter.
                {
                    foreach (var doc in document) // Dess dokument.
                    {
                        if (doc.ActivityId == act.Id)
                        {
                            await xClient.DeleteFile(doc.NameIx.ToString() + doc.DocName);
                            await xClient.RemAsync(doc.Id, "api/Document");
                        }
                    }
                }
            }
        }

        // Aktiviteter som hör till modulen.
        if (activity is not null)
        {
            foreach (var act in activity)
            {
                if (act.ModuleId == Auxx.IntId) // Dess aktiviteter.
                {
                    await xClient.RemAsync(act.Id, "api/Activity");
                }
            }
        }

        // Dokument som hör till modulen.
        if (document is not null)
        {
            foreach (var doc in document)
            {
                if (doc.ModuleId == Auxx.IntId) // Dess dokument.
                {
                    await xClient.DeleteFile(doc.NameIx.ToString() + doc.DocName);
                    await xClient.RemAsync(doc.Id, "api/Document");
                }
            }
        }

        // Kopiering av modul.
        var lmod = new ModuleDto
        {
            Id = Auxx.IntId,
            Morder = 0,
            Name = "©© " + cmod.Name,
            Description = cmod.Description,
            StartDate = cmod.StartDate,
            EndDate = cmod.EndDate,
            Select = cmod.Select,
            CourseId = Auxx.CourseId
        };

        await xClient.PutAsync<ModuleDto>(lmod.Id, lmod, "api/Module");
        xnav.SetDone(xtoa.TxtDone[2]);
        xnav.SetReset('d');

        // Kopiering av aktiviteter.
        if (activity is not null)
        {
            foreach (var cact in activity)
            {
                if (cact.ModuleId == cmod.Id)
                {
                    var lact = new ActivityDto
                    {
                        Name = cact.Name,
                        Description = cact.Description,
                        StartDate = cact.StartDate,
                        EndDate = cact.EndDate,
                        Select = cact.Select,
                        ModuleId = Auxx.IntId,
                        ActivityTypeId = cact.ActivityTypeId
                    };

                    await xClient.PostAsync<ActivityDto>(lact, "api/Activity");
                }
            }
        }
    }

    private async Task MoveDoc(int idmod)
    {
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");
        var newdoc = new DocumentDto();
        string actname = string.Empty;

        if (document is not null)
        {
            if (DocSelect == 1 || DocSelect == 2)
            {
                foreach (var doc in document)
                {
                    if (doc.ModuleId == idmod)
                    {
                        newdoc = getDocument(doc);
                        newdoc.ModuleId = Auxx.IntId;
                        await xClient.PutAsync<DocumentDto>(newdoc.Id, newdoc, "api/Document");
                    }
                }
            }

            if (activity is not null && (DocSelect == 1 || DocSelect == 3))
            {
                foreach (var act in activity)
                {
                    if (act.ModuleId == idmod)
                    {
                        actname = act.Name;

                        foreach (var doc in document)
                        {
                            if (doc.ActivityId == act.Id)
                            {
                                newdoc = getDocument(doc);

                                foreach (var newact in activity)
                                {
                                    if (newact.ModuleId == Auxx.IntId && actname == newact.Name)
                                    {
                                        newdoc.ActivityId = newact.Id;
                                        await xClient.PutAsync<DocumentDto>(newdoc.Id, newdoc, "api/Document");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    private DocumentDto getDocument(DocumentDto docin)
    {
        var ldoc = new DocumentDto
        {
            Id = docin.Id,
            NameIx = docin.NameIx,
            DocName = docin.DocName,
            Description = docin.Description,
            Author = docin.Author,
            TimeStamp = docin.TimeStamp,
            Id4Course = docin.Id4Course,
            UserId = docin.UserId,
            ModuleId = docin.ModuleId,
            ActivityId = docin.ActivityId
        };

        return ldoc;
    }
}