@page "/coursedetail/{IId:int}"
@inject NavigationManager Navigation
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<PageTitle>Course detail</PageTitle>

<AuthorizeView Roles="Teacher">
    <Authorized>
        <nav style="display: flex; width: 100%">
            <div style="width: 75%; text-align: left"><h3>Administration of course @CourseId: @NoModules
                    <i style="cursor: pointer" @onclick=" _ => EditCourse(CourseId)" title="@CourseDescription -Click for edit-">@CourseName</i>
                </h3>
            </div>
            <div style="margin-left: auto; margin-right: auto"><h5>@CourseDate</h5></div>
            <div style="margin-left: auto; margin-right: 0">
                <button type="button" class="text-white delbtn" @onclick="DateCheck" title="Perform Date Check for this course">DC</button>
                <button type="button" class="text-white delbtn" @onclick="StudentPage" title="Shortcut to student page">S</button>
            </div>
        </nav> 
        <nav style="display: flex; width: 100%">
            <div style="margin-left: auto; margin-right: 0; margin-top: 20px;"><button type="button" class="docplusbtn"
                @onclick=" _ => DocSaveControl(IId, 2, CourseName)" title="Add a document to this course">+ DOC</button>
            </div>
        </nav>

        <div class="container" @onmouseover="DeleteRefresh"> @*Eventuella dokument som ingår läggs ut här*@
            <div class="d-flex flex-wrap">
                @foreach (var doc in documents)
                {
                    <ul class="nav">
                        @if (doc.Id4Course == CourseId)
                        {
                            <li class="doclink" title="File: @doc.Description by @doc.Author @doc.TimeStamp">
                                <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)">@doc.DocName</span>
                                <span class="oi oi-file text-primary text-decoration-none docicon"
                                @onclick=" _ => DocEditControl(doc.Id, 2)"></span>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div><br />

        <DocumentAdd @ref="docsaveRef" /> @*Filsparfönster*@
        <DocumentEdit @ref="doceditRef" /> @*Filredigeringsfönster*@
        <FastModuleDate @ref="fastmodRef" /> @*Datumredigeringsfönster*@
        <FastActivityDate @ref="fastactRef" /> @*Datumredigeringsfönster*@

        <h5>@TestMess1</h5>
        <h5>@TestMess2</h5>
        @if (modules == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Context="searchlmslexnet" Model="@modules" OnSubmit="OnInitializedAsync" @onmouseover="DeleteRefresh">
                <span class="nav m-lg-auto input-group">
                    <InputText class="form-control" @bind-Value="searchString" placeholder="Module name" />
                    <span class="nav m-lg-auto input-group-append">
                        <button type="submit" class="btn m-lg-auto btn-outline-dark">Search</button>
                    </span>
                    <span class="nav m-lg-auto input-group-append">
                        <button type="button" @onclick="GetCurrentModule" class="btn m-lg-auto btn-outline-dark">Current</button>
                    </span>
                </span>
            </EditForm><br />

            @foreach (var data in modules)
            {
                if (data.IsActive)
                {
                    if (data.StartDate < DateTime.Now && data.EndDate > DateTime.Now)
                    {
                        classModTopic = "moduleboxtopic";
                        classActTopic = "activityboxtopic";
                    }
                    else
                    {
                        classModTopic = "modulebox";
                        classActTopic = "activitybox";
                    }

                    <section class="@classModTopic" @onmouseover="DeleteRefresh">
                        <div style="display: flex; width: 100%">
                            <div style="width: 75%; text-align: left">
                                <b title="@data.Description -Click for edit-">Module @data.Id:
                                <i style="cursor: pointer" @onclick=" _ => EditModule(data.Id)">@data.Name</i></b>
                            </div>
                            <div style="margin-left: auto; margin-right: 0"><b style="cursor: pointer" @onclick=" _ => ModuleDate(data.Id)"
                            title="Click to edit date">@StartEndDate(data.StartDate, data.EndDate)
                                </b>
                            </div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div style="width: 75%; text-align: left; margin-top: 20px">
                                <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(data.Id, 30, data.Name)" title="Add a document to this module">+ DOC</button>
                                <div class="dropdoc">
                                    <button type="button" class="docviewbtn">DOCs</button>
                                    <div class="dropdoc-content">
                                        @foreach (var doc in documents)
                                        {
                                            if (doc.ModuleId == data.Id)
                                            {
                                                if (doc.DocName != "")
                                                {
                                                    // Öppnar filen samt visar dokumentets formulärdata.
                                                    <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                    title="File: @doc.Description by @doc.Author @doc.TimeStamp">@doc.DocName</a>
                                                }
                                                else
                                                {
                                                    <a @onclick="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                    title="Mess: @doc.Description @doc.TimeStamp">By @doc.Author</a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                            <div style="margin-left: auto; margin-right: 0">
                                <NavLink style="cursor: pointer" class="oi oi-arrow-circle-bottom text-primary mt-2 text-decoration-none"
                                @onclick=" _ => DisableModule(data.Id)" title="Disable this module"></NavLink>
                            </div>
                        </div>
                    </section>

                    <article class="@classActTopic">

                        <table class="table" style="color: #555"> @*Grå text*@
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Aktivity</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    if (act.IsActive)
                                    {
                                        <tr>
                                            @if (act.ModuleId == data.Id)
                                            {
                                                <td>@act.Id</td>
                                                <td>
                                                    <i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                        @onclick=" _ => EditActivity(act.Id)">@act.Name</i>
                                                </td>
                                                <td>
                                                    @foreach (var actype in activityTypes)
                                                    {
                                                        if (actype.Id == act.ActivityTypeId)
                                                        {
                                                            @actype.Name
                                                        }
                                                    }
                                                </td>
                                                <td><span style="cursor: pointer" @onclick=" _ => ActivityDate(act.Id)" title="Click to edit date">
                                                @StartEndDate(act.StartDate, act.EndDate)</span></td>
                                                <td>
                                                    <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(act.Id, 140, act.Name)"
                                                    title="Add a document to this activity">+ DOC</button>
                                                    <div class="dropdoc">
                                                        <button type="button" class="docviewbtn">DOCs</button>
                                                        <div class="dropdoc-content">
                                                            @{Empty = true;}
                                                            @foreach (var doc in documents)
                                                            {
                                                                if (doc.ActivityId == act.Id)
                                                                {
                                                                    if (doc.DocName != "")
                                                                    {
                                                                        // Öppnar filen samt visar dokumentets formulärdata.
                                                                        <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                                        title="File: @doc.Description by @doc.Author @doc.TimeStamp">@doc.DocName</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a @onclick="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                                        title="Mess: @doc.Description @doc.TimeStamp">By @doc.Author</a>
                                                                    }
                                                                    Empty = false;
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    
                                                    <NavLink style="cursor: pointer" class="oi oi-arrow-circle-bottom text-primary mt-2 text-decoration-none"
                                                    @onclick=" _ => DisableActivity(act.Id)" title="Disable this activity"></NavLink>
                                                </td>
                                                <td>
                                                    @if (!Empty)
                                                    {
                                                        <span class="oi oi-aperture text-primary text-decoration-none"
                                                        style="position: relative; top: 5px"></span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="color:#AAA; background-color:#EEE">
                                            @if (act.ModuleId == data.Id)
                                            {
                                                <td>@act.Id</td>
                                                <td>
                                                    <i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                    @onclick=" _ => EditActivity(act.Id)">@act.Name</i>
                                                </td>
                                                <td>
                                                    <div style="font-weight: bold; color:red">DISABLE</div>
                                                </td>
                                                <td>@StartEndDate(act.StartDate, act.EndDate)</td>
                                                <td>
                                                    <div style="margin-left: auto; margin-right: 0">
                                                    <NavLink style="cursor: pointer" class="oi oi-arrow-circle-top text-primary mt-2 text-decoration-none"
                                                    @onclick=" _ => ActivateActivity(act.Id)" title="Activate this activity"></NavLink>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </article>
                }
                else
                {
                    <section class="modulebox" style="color:grey; background-color:lightgrey" @onmouseover="DeleteRefresh">
                        <div style="display: flex; width: 100%">
                            <div style="width: 75%; text-align: left">
                                <b title="@data.Description -Click for edit-">
                                    Module @data.Id:
                                    <i style="cursor: pointer" @onclick=" _ => EditModule(data.Id)">@data.Name</i>
                                </b>
                            </div>
                            <div style="margin-left: auto; margin-right: 0"><b>@StartEndDate(data.StartDate, data.EndDate)</b></div>
                        </div>
                        <div style="display: flex; width: 100%">
                            <div style="font-weight: bold; color:red; margin-left: auto; margin-right: auto">DISABLE</div>
                            <div style="margin-left: auto; margin-right: 0">
                                <NavLink style="cursor: pointer" class="oi oi-arrow-circle-top text-primary mt-2 text-decoration-none"
                                @onclick=" _ => ActivateModule(data.Id)" title="Activate this module"></NavLink>
                            </div>
                        </div>
                    </section>

                    <article class="activitybox" style="background-color:#EEE">

                        <table class="table" style="color:#AAA"> @*Grå text*@
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Aktivity</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    <tr>
                                        @if (act.ModuleId == data.Id)
                                        {
                                            <td>@act.Id</td>
                                            <td><i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                @onclick=" _ => EditActivity(act.Id)">@act.Name</i></td>
                                            <td>
                                                @foreach (var actype in activityTypes)
                                                {
                                                    if (actype.Id == act.ActivityTypeId)
                                                    {
                                                        @actype.Name
                                                    }
                                                }
                                            </td>
                                            <td>@StartEndDate(act.StartDate, act.EndDate)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    
                    </article>
                }
            }
        }

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int IId { get; set; }

    private DocumentAdd? docsaveRef; // Filsparfönster.

    private async Task DocSaveControl(int id, byte doctype, string name) // Filsparfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Name4Type = name;
        await docsaveRef!.Show();
    }

    private DocumentEdit? doceditRef; // Filredigeringsfönster.

    private void DocEditControl(int id, byte doctype) // Filredigeringsfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Documents = documents;
        doceditRef!.Show();
    }

    private FastModuleDate? fastmodRef; // Datumredigeringsfönster.

    private async Task ModuleDate(int id) // Datumredigeringsfönster
    {
        Auxx.IntId = id;
        await fastmodRef!.Show();
    }

    private FastActivityDate? fastactRef; // Datumredigeringsfönster.

    private async Task ActivityDate(int id) // Datumredigeringsfönster
    {
        Auxx.IntId = id;
        await fastactRef!.Show();
    }

    private async Task DeleteRefresh() // Uppdaterar efter förändring av innehållet.
    {
        if (Auxx.Flag)
        {
            Auxx.Flag = false;
            await OnInitializedAsync();
        }
    }

    private List<CourseDto> courses = new();

    private List<ModuleDto> modules = new();

    private List<ActivityDto> activities = new();

    private List<ActivityTypeDto> activityTypes = new();

    private List<DocumentDto> documents = new();

    private string CourseName = string.Empty;
    private string NoModules = string.Empty;
    private string CourseDescription = string.Empty;
    private string CourseDate = string.Empty;
    private string classModTopic = string.Empty;
    private string classActTopic = string.Empty;
    private string searchString = string.Empty;
    private int CourseId;
    private bool Empty;

    private string TestMess1 = string.Empty; // Test.
    private string TestMess2 = string.Empty; // Test.

    protected override async Task OnInitializedAsync()
    {
        xnav.SetReset('a');

        courses.Clear(); // Direkt feedback kräver att listorna rensas.
        modules.Clear();
        activities.Clear();
        activityTypes.Clear();
        documents.Clear();
        Empty = true;

        var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");
        var activityType = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");

        if (document is not null) documents = document.ToList(); // Hämtar alla dokument.

        if (course is not null) courses = course.ToList();

        if (course is not null)
        {
            foreach (var cour in course)
            {
                if (cour.Id == IId) // Hämtar Kursinfo.
                {
                    CourseName = cour.Name;
                    CourseDescription = cour.Description;
                    CourseId = cour.Id;
                    CourseDate = StartEndDate(cour.StartDate, cour.EndDate);

                    foreach (var mod in cour.Modules) // Hämtar moduler.
                    {
                        // Sökfiltrering med IndexOf: modulnamn.
                        if (!string.IsNullOrWhiteSpace(searchString))
                        {
                            if (mod.Name.ToLower().IndexOf(searchString.ToLower()) != -1) modules.Add(mod);
                        }
                        else modules.Add(mod);

                        if (!string.IsNullOrWhiteSpace(searchString) && modules.Count < 1) CourseName = "No module matched the search term...";

                        foreach (var act in mod.Activities) // Hämtar aktiviteter.
                        {
                            activities.Add(act);
                        }
                    }
                }
            }
        }
        else
        {
            CourseName = "No course could be find...";
        }

        if (modules.Count < 1 && CourseName != "No module matched the search term...")
        {
            NoModules = "No modules could be find...";
            CourseName = "";
        }
        else NoModules = "";

        if (activityType is not null) // Hämtar aktivitetstyper.
        {
            activityTypes = activityType.ToList();
        }
    }

    private string StartEndDate(DateTime start, DateTime end) // Returnerar datumsträng.
    {
        return $"{start.ToString().Substring(0, 10)} | {end.ToString().Substring(0, 10)}";
    }

    private async Task DisableModule(int id) // Växlar till inaktiv modul.
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");

        if (module is not null)
        {
            foreach (var mod in module)
            {
                if (mod.Id == id)
                {
                    var lmod = GetNewModObject(mod, false);
                    await xClient.PutAsync<ModuleDto>(id, lmod, "api/Module");
                    var element = modules.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lmod;
                }
            }
        }
        await OnInitializedAsync();
    }

    private async Task DisableActivity(int id) // Växlar till inaktiv aktivitet.
    {
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");

        if (activity is not null)
        {
            foreach (var act in activity)
            {
                if (act.Id == id)
                {
                    var lact = GetNewActObject(act, false);
                    await xClient.PutAsync<ActivityDto>(id, lact, "api/Activity");
                    var element = activities.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lact;
                }
            }
        }
        await OnInitializedAsync();
    }

    private async Task ActivateModule(int id) // Växlar till aktiv modul.
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");

        if (module is not null)
        {
            foreach (var mod in module)
            {
                if (mod.Id == id)
                {
                    var lmod = GetNewModObject(mod, true);
                    await xClient.PutAsync<ModuleDto>(id, lmod, "api/Module");
                    var element = modules.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lmod;
                }
            }
        }
        await OnInitializedAsync();
    }

    private async Task ActivateActivity(int id) // Växlar till aktiv aktivitet.
    {
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");

        if (activity is not null)
        {
            foreach (var act in activity)
            {
                if (act.Id == id)
                {
                    var lact = GetNewActObject(act, true);
                    await xClient.PutAsync<ActivityDto>(id, lact, "api/Activity");
                    var element = activities.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lact;
                }
            }
        }
        await OnInitializedAsync();
    }

    private ModuleDto GetNewModObject(ModuleDto mod, bool isactive) // Nytt modulobjekt.
    {
        var dto = new ModuleDto
            {
                Id = mod.Id,
                Name = mod.Name,
                Description = mod.Description,
                StartDate = mod.StartDate,
                EndDate = mod.EndDate,
                IsActive = isactive,
                CourseId = mod.CourseId
            };
        return dto;
    }

    private ActivityDto GetNewActObject(ActivityDto act, bool isactive) // Nytt aktivitetsobject.
    {
        var dto = new ActivityDto
            {
                Id = act.Id,
                Name = act.Name,
                Description = act.Description,
                StartDate = act.StartDate,
                EndDate = act.EndDate,
                IsActive = isactive,
                ActivityTypeId = act.ActivityTypeId,
                ModuleId = act.ModuleId
            };
        return dto;
    }

    private void DateCheck()
    {
        string EndCheck = string.Empty;
        string CourseCheck = string.Empty;
        string ModuleCheck = string.Empty;
        string ActivityCheck = string.Empty;
        int[] datearray = new int[1000000];
        string dates = string.Empty;
        int Count = 1;

        for (int i = 0; i < 1000000; i++) // Nollställer arrayen.
        {
            datearray[i] = 0;
        }

        // Lägger in siffror på olika platser i arrayen. En plats som dessförinnan var ett datum.
        foreach (var cour in courses)
        {
            if (cour.Id == IId) // Hämtar kursen.
            {
                // Kollar om kursens startdatum är större än slutdatumet.
                if (cour.StartDate > cour.EndDate) CourseCheck = "Course date mismatch (start date is greater than end date). ";
                datearray[PlacingInArray(cour.StartDate)] = Count;
                datearray[PlacingInArray(cour.EndDate)] = Count;
                Count++;

                foreach (var mod in cour.Modules) // Hämtar kursens moduler.
                {
                    // Kollar om modulens startdatum är större än slutdatumet.
                    if (mod.StartDate > mod.EndDate) ModuleCheck = "Module date mismatch (start date is greater than end date). ";
                    datearray[PlacingInArray(mod.StartDate)] = Count;
                    datearray[PlacingInArray(mod.EndDate)] = Count;
                    Count++;

                    foreach (var act in mod.Activities) // Hämtar kursens aktiviteter.
                    {
                        // Kollar om aktivitetens startdatum är större än slutdatumet.
                        if (act.StartDate > act.EndDate) ActivityCheck = "Activity date mismatch (start date is greater than end date).";
                        datearray[PlacingInArray(act.StartDate)] = Count;
                        datearray[PlacingInArray(act.EndDate)] = Count;
                        Count++;
                    }
                }
            }
        }

        foreach (var arr in datearray) // Lägger in siffror i rad i en sträng.
        {
            if (arr > 0) dates += arr.ToString();
        }

        for (int i = 1; i < Count; i++) // Kollar om både start- och slutdatumet för en post blivit överskrivet av någon annan post.
        {
            if (dates.IndexOf(i.ToString()) == -1) EndCheck = "Date mismatch (entangled dates)";
        }

        for (int i = dates.Length; i > 0; i--) // Tar successivt bort nummerpar.
        {
            if (dates.IndexOf(i.ToString() + i.ToString()) != -1) dates = dates.Replace(i.ToString() + i.ToString(), "");
        }

        if (dates.Length > 0) EndCheck = "Date mismatch (entangled dates)"; // Inga siffror kvar, ingen osymmetri!

        if (CourseCheck == "" && ModuleCheck == "" && ActivityCheck == "" && EndCheck == "")
        {
            xnav.SetDone("xnavdone", "No date errors could be found.");
            xnav.SetReset('d');
        }
        else
        {
            if (EndCheck != "")
            {
                xnav.SetError("xnaverror", EndCheck);
                xnav.SetReset('e');
            }
            else
            {
                xnav.SetError("xnaverror", CourseCheck + ModuleCheck + ActivityCheck);
                xnav.SetReset('e');
            }
        }
    }

    private int PlacingInArray(DateTime date) // Omvandlar ett datum till ett nummer (ex. 2023-01-01 --> 230101).
    {
        int number = int.Parse(date.ToString().Substring(2, 2) +
        date.ToString().Substring(5, 2) +
        date.ToString().Substring(8, 2));
        return number;
    }

    private void StudentPage()
    {
        Navigation.NavigateTo($"/studentcourse", true);
    }

    private void EditCourse(int id)
    {
        Navigation.NavigateTo($"/courseeditcourse/{id}", true);
    }

    private void EditModule(int id)
    {
        Navigation.NavigateTo($"/courseeditmodule/{id}", true);
    }

    private void EditActivity(int id)
    {
        Navigation.NavigateTo($"/courseeditactivity/{id}", true);
    }

    private async Task OpenFileControl(int ix, string filename)
    {
        await xClient.OpenFile(ix, filename);
    }

    private void ShowMessControl(string description, string author, string timestamp)
    {
        xnav.SetMess("xnavmess", description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('m');
    }

    private void GetCurrentModule() // Hämtar aktuell modul.
    {
        var module = new ModuleDto();
        bool FindMod = false;

        foreach (var mod in modules)
        {
            if (mod.StartDate <= DateTime.Now && mod.EndDate >= DateTime.Now)
            {
                module = mod;
                FindMod = true;
            }
        }

        if (FindMod)
        {
            modules.Clear();
            modules.Add(module);
            xnav.SetDone("xnavdone", "Your current module.");
            xnav.SetReset('d');
        }
        else
        {
            xnav.SetDone("xnavdone", "There is no current module.");
            xnav.SetReset('d');
        }
    }

    private async Task Intermission(int time, bool hide) // Paus.
    {
        if (hide)
        {
            xnav.SetReset('a');
        }
        base.StateHasChanged();
        await Task.Delay(time);
    }
}