@page "/coursedetail/{IId:int}"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAppUserDtoClient appuserClient
@inject NavigationManager Navigation
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<PageTitle>Course detail</PageTitle>

<AuthorizeView Roles="Teacher">
    <Authorized>
        <nav style="display: flex">
            <div style="width: 75%"><h3>Administration of this course @CourseId: @NoModules
                    <i style="cursor: pointer" @onclick=" _ => EditCourse(CourseId)" title="@CourseDescription -Click for edit-">@CourseName</i>
                </h3>
            </div>
            <div style="margin: 0 auto 0 auto"><h5>@CourseDate</h5></div>
            <div style="margin: 0 0 0 auto">
                <button type="button" class="mb-1 text-white delbtn" @onclick="DateCheck" title="Perform Date Check for this course">DC</button>
                <button type="button" class="mb-1 text-white delbtn" @onclick="StudentPage" title="Shortcut to student page">S</button>
            </div>
        </nav> 
        <nav style="display: flex">
            <div style="margin: 20px 0 0 auto">
                <button type="button" class="docplusbtn"
                @onclick=" _ => DocSaveControl(IId, 2, CourseName)" title="Add a document to this course">+ DOC</button>
            </div>
        </nav>

        <div class="container"> @*Eventuella dokument som ingår läggs ut här*@
            <div class="d-flex flex-wrap">
                @foreach (var doc in documents)
                {
                    <ul class="nav">
                        @if (doc.Id4Course == CourseId)
                        {
                            <li class="doclink" title="File: @doc.Description by @doc.Author @doc.TimeStamp">
                                <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)">@doc.DocName</span>
                                <span class="oi oi-file text-primary text-decoration-none docicon"
                                @onclick=" _ => DocEditControl(doc.Id, 2)"></span>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div><br />

        <ToastDocumentAdd @ref="docsaveRef" /> @*Filsparfönster*@
        <ToastDocumentEdit @ref="doceditRef" /> @*Filredigeringsfönster*@
        <ToastFastModuleDate @ref="fastmodRef" /> @*Datumredigeringsfönster*@
        <ToastFastActivityDate @ref="fastactRef" /> @*Datumredigeringsfönster*@
        <ToastCopyModule @ref="copymodRef" /> @*Modulkopiering*@

        <h5>@TestMess1</h5>
        <h5>@TestMess2</h5>

        @if (modules == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Context="searchlmslexnet" Model="@modules" OnSubmit="OnInitializedAsync">
                <span class="nav m-lg-auto input-group">
                    <InputText class="form-control" @bind-Value="searchString" placeholder="Module name" />
                    <span class="nav m-lg-auto input-group-append" style="z-index: 0">
                        <button type="submit" class="btn m-lg-auto btn-outline-dark">Search</button>
                    </span>
                    <span class="nav m-lg-auto input-group-append" style="z-index: 0">
                        <button type="button" @onclick="GetCurrentModule" class="btn m-lg-auto btn-outline-dark">Current</button>
                    </span>
                </span>
            </EditForm><br />

            @foreach (var data in modules)
            {
                if (data.Select != 0)
                {
                    if (data.StartDate < DateTime.Now && data.EndDate > DateTime.Now)
                    {
                        if (data.Select == 1 || data.Select == 10 || data.Select == 2 || data.Select == 20)
                        {
                            classModTopic = "moduleboxtopic";
                            classActTopic = "activityboxtopic";
                        }

                        if (data.Select == 3)
                        {
                            classModTopic = "module3T_boxtopic";
                            classActTopic = "activityboxtopic";
                        }

                        if (data.Select == 4)
                        {
                            classModTopic = "module4T_box";
                            classActTopic = "activitybox";
                        }

                        if (data.Select == 5)
                        {
                            classModTopic = "module4T_box";
                            classActTopic = "activity5T_box";
                        }
                    }
                    else
                    {
                        if (data.Select == 1 || data.Select == 10 || data.Select == 2 || data.Select == 20)
                        {
                            classModTopic = "modulebox";
                            classActTopic = "activitybox";
                        }

                        if (data.Select == 3)
                        {
                            classModTopic = "module3T_box";
                            classActTopic = "activity3T_box";
                        }

                        if (data.Select == 4)
                        {
                            classModTopic = "module4T_box";
                            classActTopic = "activitybox";
                        }

                        if (data.Select == 5)
                        {
                            classModTopic = "module4T_box";
                            classActTopic = "activity5T_box";
                        }
                    }

                    <section class="@classModTopic">
                        <div style="display: flex">
                            <div style="width: 85%">
                                @if (data.Select == 1 || data.Select == 10)
                                {
                                    <b title="@data.Description -Click for edit-">Module @data.Id:
                                    <i style="cursor: pointer" @onclick=" _ => EditModule(data.Id)">@data.Name</i></b>
                                }
                                else
                                {
                                    if (data.Select == 3)
                                    {
                                        <b title="Click for edit. Type #E# for empty or #H# for hide a field">
                                        <i style="cursor: pointer; margin-left: 10px" @onclick=" _ => EditModule(data.Id)">@data.Name</i></b>
                                    }
                                    else
                                    {
                                        <b title="@data.Description -Click for edit-">Module
                                        <i style="cursor: pointer" @onclick=" _ => EditModule(data.Id)">@data.Name</i></b>
                                    }
                                }
                            </div>
                            <div style="margin: 0 0 0 auto"><b style="cursor: pointer" @onclick=" _ => ModuleDate(data.Id)"
                                title="Click to edit date">@xnav.StartEndDate(data.StartDate, data.EndDate)</b>
                            </div>
                        </div>
                        <div style="display: flex">

                            @{Empty = true;}
                            @if (data.Select != 3 && data.Select != 4 && data.Select != 5)
                            {
                                <div style="width: 75%; margin-top: 20px">
                                    <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(data.Id, 30, data.Name)" title="Add a document to this module">+ DOC</button>
                                    <div class="dropdoc">
                                        <button  type="button" id="M@(data.Id)" class="docviewbtn">DOCs</button>
                                        <div class="dropdoc-content">
                                            @foreach (var doc in documents)
                                            {
                                                if (doc.ModuleId == data.Id)
                                                {
                                                    if (doc.DocName != "")
                                                    {
                                                        // Öppnar filen samt visar dokumentets formulärdata.
                                                        <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                        title="File: @doc.Description by @doc.Author @doc.TimeStamp">@doc.DocName</a>
                                                    }
                                                    else
                                                    {
                                                        <a @onclick="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                        title="Mess: @doc.Description @doc.TimeStamp">By @doc.Author</a>
                                                    }
                                                    Empty = false;
                                                }
                                            }
                                        </div>
                                    </div>
                                
                                    @if (!Empty)
                                    {
                                        if (data.Select > 8)
                                        {
                                            <NavLink style="cursor: pointer" class="oi oi-x mx-2 text-danger text-decoration-none"
                                            @onclick=" _ => ShowOrHide(data.Id, (byte) (data.Select / 10))" title="Show document"></NavLink>
                                        }
                                        else
                                        {
                                            <NavLink style="cursor: pointer" class="oi oi-aperture mx-2 text-primary text-decoration-none"
                                            @onclick=" _ => ShowOrHide(data.Id, (byte) (data.Select * 10))" title="Hide document"></NavLink>
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                if (data.Select == 3)
                                {
                                    <div style="font-size: 0.8rem; text-indent: 10px; color:darkslategrey" title="Type #H# for hide or #E# for empty a field">
                                    <em>@data.Description</em></div>
                                }
                            }

                            <div style="margin: 0 0 0 auto">
                                <NavLink style="cursor: pointer; margin-right: 2px" class="oi oi-layers text-primary text-decoration-none"
                                @onclick=" _ => CopyModule(data.Id, data.Name)" title="Copy another modules data to this module"></NavLink>

                                <NavLink style="cursor: pointer; margin-right: 2px" class="oi oi-menu text-primary text-decoration-none"
                                @onclick=" _ => SelectModuleType(data.Id, 5)" title="Simple text message"></NavLink>

                                <NavLink style="cursor: pointer; margin-right: 2px" class="oi oi-list text-primary text-decoration-none"
                                @onclick=" _ => SelectModuleType(data.Id, 4)" title="Only activities"></NavLink>

                                <NavLink style="cursor: pointer; margin-right: 2px" class="oi oi-folder text-primary text-decoration-none"
                                @onclick=" _ => SelectModuleType(data.Id, 3)" title="Simple text as a heading for a module"></NavLink>

                                <NavLink style="cursor: pointer; margin-right: 2px" class="oi oi-document text-primary text-decoration-none"
                                @onclick=" _ => SelectModuleType(data.Id, 1)" title="Extend with identity number"></NavLink>

                                <NavLink style="cursor: pointer" class="oi oi-arrow-circle-bottom mt-2 text-primary text-decoration-none"
                                @onclick=" _ => ActivateOrDisable(data.Id, 0)" title="Disable module and exclude identity nr"></NavLink>
                            </div>
                        </div>
                    </section>

                    <article class="@classActTopic">

                        <table class="table" style="color: #555"> @*Grå text*@
                            <thead>
                                @if (data.Select == 1 || data.Select == 10)
                                {
                                    <tr>
                                        <th>Nr</th>
                                        <th>Aktivity</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                    </tr>
                                }

                                @if (data.Select == 2 || data.Select == 20 || data.Select == 3)
                                {
                                    <tr>
                                        <th>Aktivity</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                    </tr>
                                }

                                @if (data.Select == 4)
                                {
                                    <tr>
                                        <th>Aktivity</th>
                                        <th>Description</th>
                                        <th>Items</th>
                                    </tr>
                                }

                                @if (data.Select == 5)
                                {
                                    <tr>
                                        <th>Text message (the “description” of the aktivity)</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    if (act.Select > 0)
                                    {
                                        <tr>
                                            @if (act.ModuleId == data.Id)
                                            {
                                                if (data.Select == 1 || data.Select == 10)
                                                {
                                                    <td>@act.Id</td>
                                                }

                                                if (data.Select != 5)
                                                {
                                                    <td>
                                                        <i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                        @onclick=" _ => EditActivity(act.Id)">@act.Name</i>
                                                    </td>
                                                }

                                                if (data.Select != 4 && data.Select != 5)
                                                {
                                                    <td>
                                                        @foreach (var actype in activityTypes)
                                                        {
                                                            if (actype.Id == act.ActivityTypeId)
                                                            {
                                                                @actype.Name
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <span style="cursor: pointer" @onclick=" _ => ActivityDate(act.Id)" title="Click to edit date">
                                                        @xnav.StartEndDate(act.StartDate, act.EndDate)</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    if (data.Select == 5)
                                                    {
                                                        <td style="cursor: pointer; color: darkorange" title="The name: @act.Name -Click for edit-"
                                                        @onclick=" _ => EditActivity(act.Id)">@act.Description</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@act.Description</td>
                                                    }
                                                }

                                                <td>
                                                    @if (data.Select != 5)
                                                    {
                                                        <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(act.Id, 140, act.Name)"
                                                        title="Add a document to this activity">+ DOC</button>
                                                        <div class="dropdoc">
                                                            <button type="button" id="A@(act.Id)" class="docviewbtn">DOCs</button>
                                                            <div class="dropdoc-content">
                                                                @{
                                                                    Empty = true;
                                                                }
                                                                @foreach (var doc in documents)
                                                                {
                                                                    if (doc.ActivityId == act.Id)
                                                                    {
                                                                        if (doc.DocName != "")
                                                                        {
                                                                            // Öppnar filen samt visar dokumentets formulärdata.
                                                                            <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                                            title="File: @doc.Description by @doc.Author @doc.TimeStamp">@doc.DocName</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a @onclick="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                                            title="Mess: @doc.Description @doc.TimeStamp">By @doc.Author</a>
                                                                        }
                                                                        Empty = false;
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    }

                                                    <NavLink style="cursor: pointer" class="oi oi-arrow-circle-bottom text-primary mt-2 text-decoration-none"
                                                    @onclick=" _ => ActivateOrDisable(act.Id, 1)" title="Disable this activity"></NavLink>
                                                </td>
                                                <td>
                                                    @if (!Empty && data.Select != 5)
                                                    {
                                                        if (act.Select > 8)
                                                        {
                                                            <NavLink style="cursor: pointer" class="oi oi-x text-danger mt-2 text-decoration-none"
                                                            @onclick=" _ => ShowOrHide(act.Id, 101)" title="Show document"></NavLink>
                                                        }
                                                        else
                                                        {
                                                            <NavLink style="cursor: pointer" class="oi oi-aperture text-primary mt-2 text-decoration-none"
                                                            @onclick=" _ => ShowOrHide(act.Id, 110)" title="Hide document"></NavLink>
                                                        }
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="color:#AAA; background-color:#EEE">
                                            @if (act.ModuleId == data.Id)
                                            {
                                                <td>
                                                    <i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                    @onclick=" _ => EditActivity(act.Id)">@act.Name</i>
                                                </td>
                                                <td>
                                                    <div style="font-weight: bold; color:red">DISABLE</div>
                                                </td>
                                                <td>@xnav.StartEndDate(act.StartDate, act.EndDate)</td>
                                                <td>
                                                    <div style="margin-left: auto; margin-right: 0">
                                                    <NavLink style="cursor: pointer" class="oi oi-arrow-circle-top text-primary mt-2 text-decoration-none"
                                                    @onclick=" _ => ActivateOrDisable(act.Id, 3)" title="Activate this activity"></NavLink>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </article>
                }

                if (data.Select == 0)
                {
                    <section class="modulebox" style="color:grey; background-color:lightgrey">
                        <div style="display: flex">
                            <div style="width: 85%">
                                <b title="@data.Description -Click for edit-">Module:
                                <i style="cursor: pointer" @onclick=" _ => EditModule(data.Id)">@data.Name</i></b>
                            </div>
                            <div style="margin-left: auto; margin-right: 0"><b>@xnav.StartEndDate(data.StartDate, data.EndDate)</b></div>
                        </div>
                        <div style="display: flex">
                            <div style="font-weight: bold; color:red; margin-left: auto; margin-right: auto">DISABLE</div>
                            <div style="margin: 0 0 0 auto">
                                <NavLink style="cursor: pointer" class="oi oi-arrow-circle-top text-primary mt-2 text-decoration-none"
                                @onclick=" _ => ActivateOrDisable(data.Id, 2)" title="Activate this module"></NavLink>
                            </div>
                        </div>
                    </section>

                    <article class="activitybox" style="background-color:#EEE">

                        <table class="table" style="color:#AAA"> @*Grå text*@
                            <thead>
                                <tr>
                                    <th>Aktivity</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    <tr>
                                        @if (act.ModuleId == data.Id)
                                        {
                                            <td><i style="cursor: pointer" title="@act.Description -Click for edit-"
                                                @onclick=" _ => EditActivity(act.Id)">@act.Name</i></td>
                                            <td>
                                                @foreach (var actype in activityTypes)
                                                {
                                                    if (actype.Id == act.ActivityTypeId)
                                                    {
                                                        @actype.Name
                                                    }
                                                }
                                            </td>
                                            <td>@xnav.StartEndDate(act.StartDate, act.EndDate)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    
                    </article>
                }
            }
        }

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int IId { get; set; }

    private ToastDocumentAdd? docsaveRef; // Filsparfönster.

    private async Task DocSaveControl(int id, byte doctype, string name) // Filsparfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Name4Type = name;
        await docsaveRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private ToastDocumentEdit? doceditRef; // Filredigeringsfönster.

    private async Task DocEditControl(int id, byte doctype) // Filredigeringsfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Documents = documents;
        await doceditRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private ToastFastModuleDate? fastmodRef; // Datumredigeringsfönster.

    private async Task ModuleDate(int id) // Datumredigeringsfönster.
    {
        Auxx.IntId = id;
        await fastmodRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private ToastFastActivityDate? fastactRef; // Datumredigeringsfönster.

    private async Task ActivityDate(int id) // Datumredigeringsfönster.
    {
        Auxx.IntId = id;
        await fastactRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private ToastCopyModule? copymodRef; // Modulkopiering.

    private async Task CopyModule(int id, string name) // Modulkopiering.
    {
        Auxx.IntId = id;
        Auxx.CourseId = IId;
        Auxx.Name4Type = name;
        await copymodRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private List<CourseDto> courses = new();

    private List<ModuleDto> modules = new();

    private List<ActivityDto> activities = new();

    private List<ActivityTypeDto> activityTypes = new();

    private List<DocumentDto> documents = new();

    private AppUserDto loggeduser = new(); // Info om den som för tillfället är inloggad.

    private string CourseName = string.Empty;
    private string NoModules = string.Empty;
    private string CourseDescription = string.Empty;
    private string CourseDate = string.Empty;
    private string classModTopic = string.Empty;
    private string classActTopic = string.Empty;
    private string searchString = string.Empty;
    private int CourseId;
    private bool Empty;

    private string TestMess1 = string.Empty; // Test.
    private string TestMess2 = string.Empty; // Test.

    private async Task RefreshAfterThis() // Uppdaterar efter förändring av innehåll.
    {
        while (!Auxx.Flag) await xnav.Intermission(1000, false);
        Auxx.Flag = false;
        await xnav.Intermission(1000, false);
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        xnav.SetJohnDoe(false);
        xnav.SetReset('a');

        courses.Clear(); // Direkt feedback kräver att listorna rensas.
        modules.Clear();
        activities.Clear();
        activityTypes.Clear();
        documents.Clear();

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity?.Name!; // Email för den som för tillfället är inloggad.

        var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");
        var activityType = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");
        var appuser = await appuserClient.GetAsync();

        if (document is not null) documents = document.ToList(); // Hämtar alla dokument.

        if (course is not null) courses = course.ToList();

        if (course is not null)
        {
            foreach (var cour in course)
            {
                if (cour.Id == IId) // Hämtar Kursinfo.
                {
                    CourseName = cour.Name;
                    CourseDescription = cour.Description;
                    CourseId = cour.Id;
                    CourseDate = xnav.StartEndDate(cour.StartDate, cour.EndDate);

                    foreach (var mod in cour.Modules) // Hämtar moduler.
                    {
                        // Sökfiltrering med IndexOf: modulnamn.
                        if (!string.IsNullOrWhiteSpace(searchString))
                        {
                            if (mod.Name.ToLower().IndexOf(searchString.ToLower()) != -1) modules.Add(mod);
                        }
                        else modules.Add(mod);

                        if (!string.IsNullOrWhiteSpace(searchString) && modules.Count < 1) CourseName = "No module matched the search term...";

                        foreach (var act in mod.Activities) // Hämtar aktiviteter.
                        {
                            activities.Add(act);
                        }
                    }
                }
            }
        }
        else
        {
            CourseName = "No course could be find...";
        }

        if (modules.Count < 1 && CourseName != "No module matched the search term...")
        {
            NoModules = "No modules could be find...";
            CourseName = "";
        }
        else NoModules = "";

        if (activityType is not null) // Hämtar aktivitetstyper.
        {
            activityTypes = activityType.ToList();
        }

        if (appuser is not null && name is not null)
        {
            foreach (var item in appuser) // Hämtar den som för tillfället är inloggad.
            {
                if (item.Email == name) loggeduser = item;
            }
        }

        xnav.SetLogAvatar("d-none", "");

        foreach (var doc in documents) // Letar efter en avatar.
        {
            if (doc.UserId == loggeduser.Id && doc.Id4Course == -2)
            {
                xnav.SetLogAvatar("avatarlog", xClient.GetFilepath() + doc.NameIx + doc.DocName);
            }
        }
    }

    protected override async void OnAfterRender(bool firstRender) // Byter klass på knapp om dokument hittas.
    {
        foreach (var mod in modules)
        {
            foreach (var doc in documents)
            {
                if (mod.Id == doc.ModuleId && (mod.Select == 1 || mod.Select == 10 || mod.Select == 2 || mod.Select == 20))
                    await xClient.ChangeClass("M" + mod.Id, "docviewbtn-docs");
            }

            foreach (var act in activities)
            {
                if (act.ModuleId == mod.Id)
                {
                    foreach (var doc in documents)
                    {
                        if (act.Id == doc.ActivityId && act.Select != 0 && mod.Select != 0)
                            await xClient.ChangeClass("A" + act.Id, "docviewbtn-docs");
                    }
                }
            }
        }
    }

    private async Task SelectModuleType(int id, byte select) // Växlar till vald modultyp.
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");

        if (module is not null)
        {
            foreach (var mod in module)
            {
                if (mod.Id == id)
                {
                    var lmod = GetNewModObject(mod, select);
                    await xClient.PutAsync<ModuleDto>(id, lmod, "api/Module");
                    var element = modules.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lmod;
                }
            }
        }
        await OnInitializedAsync();
    }

    private async Task ActivateOrDisable(int id, byte value) // Sköter inaktivering och aktivering.
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");

        if (value == 0 || value == 2)
        {
            if (module is not null)
            {
                foreach (var mod in module)
                {
                    if (mod.Id == id)
                    {
                        var lmod = GetNewModObject(mod, value);
                        await xClient.PutAsync<ModuleDto>(id, lmod, "api/Module");
                        var element = modules.FirstOrDefault(e => e.Id == id);
                        if (element is not null) element = lmod;
                    }
                }
            }
        }

        if (value == 1 || value == 3)
        {
            if (activity is not null)
            {
                foreach (var act in activity)
                {
                    if (act.Id == id && value == 1)
                    {
                        var lact = GetNewActObject(act, 0);
                        await xClient.PutAsync<ActivityDto>(id, lact, "api/Activity");
                        var element = activities.FirstOrDefault(e => e.Id == id);
                        if (element is not null) element = lact;
                    }

                    if (act.Id == id && value == 3)
                    {
                        var lact = GetNewActObject(act, 1);
                        await xClient.PutAsync<ActivityDto>(id, lact, "api/Activity");
                        var element = activities.FirstOrDefault(e => e.Id == id);
                        if (element is not null) element = lact;
                    }
                }
            }
        }
        await OnInitializedAsync();
    }

    private async Task ShowOrHide(int id, byte value) // Visa eller dölja dokument?
    {
        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");
        var activity = await xClient.GetAsync<IEnumerable<ActivityDto>>("api/Activity");

        if (value < 50)
        {
            if (module is not null)
            {
                foreach (var mod in module)
                {
                    if (mod.Id == id)
                    {
                        var lmod = GetNewModObject(mod, value);
                        await xClient.PutAsync<ModuleDto>(id, lmod, "api/Module");
                        var element = modules.FirstOrDefault(e => e.Id == id);
                        if (element is not null) element = lmod;
                    }
                }
            }
        }

        if (value > 50)
        {
            if (activity is not null)
            {
                foreach (var act in activity)
                {
                    var lact = GetNewActObject(act, (byte) (value - 100));
                    await xClient.PutAsync<ActivityDto>(id, lact, "api/Activity");
                    var element = activities.FirstOrDefault(e => e.Id == id);
                    if (element is not null) element = lact;
                }
            }
        }
        await OnInitializedAsync();
    }

    private ModuleDto GetNewModObject(ModuleDto mod, byte select) // Nytt modulobjekt.
    {
        var dto = new ModuleDto
            {
                Id = mod.Id,
                Name = mod.Name,
                Description = mod.Description,
                StartDate = mod.StartDate,
                EndDate = mod.EndDate,
                Select = select,
                CourseId = mod.CourseId
            };
        return dto;
    }

    private ActivityDto GetNewActObject(ActivityDto act, byte select) // Nytt aktivitetsobject.
    {
        var dto = new ActivityDto
            {
                Id = act.Id,
                Name = act.Name,
                Description = act.Description,
                StartDate = act.StartDate,
                EndDate = act.EndDate,
                Select = select,
                ActivityTypeId = act.ActivityTypeId,
                ModuleId = act.ModuleId
            };
        return dto;
    }

    private async Task DateCheck()
    {
        string LimCheck = string.Empty;
        string EndCheck = string.Empty;
        string CourseCheck = string.Empty;
        string ModuleCheck = string.Empty;
        string ActivityCheck = string.Empty;
        int[] datearray = new int[100000000];
        string dates = string.Empty;
        int InInt = 0;
        int Count = 1;

        xnav.SetDone("Perform calculation...");
        xnav.SetReset('d');
        await xnav.Intermission(1, false);

        // Lägger in siffror på olika platser i arrayen. En plats som dessförinnan var ett datum.
        // Undersöker även om PlacingInArray returnerar 0, vilket indikerar beräkningsfel.
        foreach (var cour in courses)
        {
            if (cour.Id == IId) // Hämtar kursen.
            {
                // Kollar om kursens startdatum är större än slutdatumet.
                if (cour.StartDate > cour.EndDate) CourseCheck = "Course date mismatch (start date is greater than end date).";

                InInt = PlacingInArray(cour.StartDate, Count, '+');
                if (InInt < 1) LimCheck = "Cannot calculate.";
                datearray[InInt] = Count;
                InInt = PlacingInArray(cour.EndDate, Count, '-');
                if (InInt < 1) LimCheck = "Cannot calculate.";
                datearray[InInt] = Count;
                Count++;

                foreach (var mod in cour.Modules) // Hämtar kursens moduler.
                {
                    // Kollar om båda datumen ligger utanför datumspannet för kursen.
                    if (mod.StartDate < cour.StartDate && mod.EndDate < cour.StartDate ||
                    mod.StartDate > cour.EndDate && mod.EndDate > cour.EndDate) ModuleCheck = "Module date mismatch (date is outside the course date).";

                    // Kollar om modulens startdatum är större än slutdatumet.
                    if (mod.StartDate > mod.EndDate) ModuleCheck = "Module date mismatch (start date is greater than end date).";

                    InInt = PlacingInArray(mod.StartDate, Count, '+');
                    if (InInt < 1) LimCheck = "Cannot calculate (overloading).";
                    datearray[InInt] = Count;
                    InInt = PlacingInArray(mod.EndDate, Count, '-');
                    if (InInt < 1) LimCheck = "Cannot calculate (overloading).";
                    datearray[InInt] = Count;
                    Count++;

                    foreach (var act in mod.Activities) // Hämtar kursens aktiviteter.
                    {
                        // Kollar om båda datumen ligger utanför datumspannet för modulen.
                        if (act.StartDate < mod.StartDate && act.EndDate < mod.StartDate ||
                        act.StartDate > mod.EndDate && act.EndDate > mod.EndDate) ActivityCheck = "Activity date mismatch (date is outside the module date).";

                        // Kollar om aktivitetens startdatum är större än slutdatumet.
                        if (act.StartDate > act.EndDate) ActivityCheck = "Activity date mismatch (start date is greater than end date).";

                        InInt = PlacingInArray(act.StartDate, Count, '+');
                        if (InInt < 1) LimCheck = "Cannot calculate (overloading).";
                        datearray[InInt] = Count;
                        InInt = PlacingInArray(act.EndDate, Count, '-');
                        if (InInt < 1) LimCheck = "Cannot calculate (overloading).";
                        datearray[InInt] = Count;
                        Count++;
                    }
                }
            }
        }

        foreach (var arr in datearray) // Lägger in siffror i rad i en sträng.
        {
            if (arr > 0) dates += arr.ToString();
        }

        Array.Clear(datearray, 0, datearray.Length);

        //// Endast aktuellt om datumnumren kan anta identiska värden.
        //for (int i = 1; i < Count; i++) // Kollar om både start- och slutdatumet för en post blivit överskrivet av någon annan post.
        //{
        //    if (dates.IndexOf(i.ToString()) == -1) EndCheck = "Date mismatch (entangled dates)";
        //}

        for (int i = dates.Length; i > 0; i--) // Tar successivt bort nummerpar.
        {
            if (dates.IndexOf(i.ToString() + i.ToString()) != -1) dates = dates.Replace(i.ToString() + i.ToString(), "");
        }

        if (dates.Length > 0) EndCheck = "Date mismatch (entangled dates)"; // Inga siffror kvar, ingen osymmetri!

        if (LimCheck == "" && CourseCheck == "" && ModuleCheck == "" && ActivityCheck == "" && EndCheck == "")
        {
            xnav.SetDone("No date errors could be found.");
            xnav.SetReset('d');
        }
        else
        {
            if (LimCheck != "" || CourseCheck != "" || ModuleCheck != "" || ActivityCheck != "")
            {
                if (LimCheck != "")
                {
                    xnav.SetError(LimCheck);
                    xnav.SetReset('e');
                }
                else
                {
                    xnav.SetError(CourseCheck + " " + ModuleCheck + " " + ActivityCheck);
                    xnav.SetReset('e');
                }
            }
            else
            {
                xnav.SetError(EndCheck);
                xnav.SetReset('e');
            }
        }
    }

    // Bygger ett heltal av ett datum samt skapar distans mellan dem.
    // Ex 1: 2023-01-01 --> 230101 --> 23 ++ 032 (1 x 31 + 1) ++ 000 + count(1) = 23032001.
    // Ex 2: 2023-06-20 --> 230620 --> 23 ++ 206 (6 x 31 + 20) ++ 999 - count(1) = 23206998.
    // Ex 3: 2023-12-31 --> 231231 --> 23 ++ 403 (12 x 31 + 31) ++ 000 + count(1) = 23403001.

    private int PlacingInArray(DateTime date, int count, char pm)
    {
        int number = 0;

        // Addition av månad gånger 31 plus dagen. Därtill addition med 1000.
        int m_d = 1000 + int.Parse(date.ToString().Substring(5, 2)) * 31 + int.Parse(date.ToString().Substring(8, 2));

        // Om antalet moduler och aktiviteter är större än 499.
        if (count > 499) return 0;

        // Indatumet omvandlas till en sträng, plus m_d och distansen (max 499 moduler och aktiviteter).
        // Parsar detta till ett tal för att slutligen addera eller subtrahera count.
        if (pm == '+') number = int.Parse(date.ToString().Substring(2, 2) + m_d.ToString().Substring(1, 3) + "000") + count;
        if (pm == '-') number = int.Parse(date.ToString().Substring(2, 2) + m_d.ToString().Substring(1, 3) + "999") - count;

        return number;
    }

    private void StudentPage()
    {
        Navigation.NavigateTo($"/studentcourse", true);
    }

    private void EditCourse(int id)
    {
        Navigation.NavigateTo($"/courseeditcourse/{id}", true);
    }

    private void EditModule(int id)
    {
        Navigation.NavigateTo($"/courseeditmodule/{id}", true);
    }

    private void EditActivity(int id)
    {
        Navigation.NavigateTo($"/courseeditactivity/{id}", true);
    }

    private async Task OpenFileControl(int ix, string filename)
    {
        await xClient.OpenFile(ix, filename);
    }

    private void ShowMessControl(string description, string author, string timestamp)
    {
        xnav.SetMess(description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('m');
    }

    private void GetCurrentModule() // Hämtar aktuell modul.
    {
        var module = new ModuleDto();
        bool FindMod = false;

        foreach (var mod in modules)
        {
            if (mod.StartDate <= DateTime.Now && mod.EndDate >= DateTime.Now)
            {
                module = mod;
                FindMod = true;
            }
        }

        if (FindMod)
        {
            modules.Clear();
            modules.Add(module);
            xnav.SetDone("Your current module.");
            xnav.SetReset('d');
        }
        else
        {
            xnav.SetDone("There is no current module.");
            xnav.SetReset('d');
        }
    }
}