@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Både studenter och lärare har åtkomst hit*@

<AuthorizeView Roles ="Student, Teacher">
    <Authorized>
        <div class="toast-container p-3 @showClass" @onmouseup="MouseUp" @onmousedown="MouseDown" @onmousemove="MouseMove" @onmouseout="MouseOut"
             style="position: fixed; top: auto; bottom: @(Pos_V)px; margin-left: @(Pos_H)px; z-index: 5" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast show bg-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">@HeaderText</strong>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
                </div>
                <div class="toast-body">
                    <button type="button" class="text-white remnot" @onclick="Proceed">YES</button>
                    <button type="button" class="text-white remnot" @onclick="Close">NO</button>
                </div>
                <div class="@classProceed">
                    <EditForm Model="@xClient" Context="deletealllmslexnet" OnSubmit="HandleSubmitDeleteAll">
                        <div class="form-group m-3">
                            <label for="Email">Enter your email address</label>
                            <InputText id="Email" class="form-control" @bind-Value="Email" title="Users email" />
                        </div>
                        <div class="form-group m-3">
                            <button type="submit" class="text-white remyes" title="Remove all documents and messages from the system">DELETE NOW</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string HeaderText = string.Empty;
    private string showClass = "d-none";

    private int Win_Width;
    private int Win_Height;
    private int Diff_X;
    private int Diff_Y;
    private int Pos_H;
    private int Pos_V;
    private bool IsDown = false;

    public string classProceed = "d-none";
    public string Email = string.Empty;

    public async Task Show()
    {
        xnav.SetReset('a');

        await GetWindowSize(); // Hämtar aktuell skärmstorlek.
        Pos_H = (int)Math.Round(Win_Width * 0.08); // 08%
        Pos_V = (int)Math.Round(Win_Height * 0.5); // 50%
        HeaderText = "Eliminate all your docs and mess...";
        classProceed = "d-none";
        showClass = "d-block";
        StateHasChanged();
    }

    private void Proceed()
    {
        classProceed = "d-block";
    }

    private void Close()
    {
        HeaderText = string.Empty;
        showClass = "d-none";
        StateHasChanged();
    }

    private async Task HandleSubmitDeleteAll()
    {
        bool FindDoc = false;

        if (Auxx.Loggeduser.Email == Email)
        {
            var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");

            if (document is not null)
            {
                foreach (var doc in document)
                {
                    if (doc.UserId == Auxx.Loggeduser.Id && doc.Id4Course != -2 && doc.ActivityId == 0)
                    {
                        await xClient.RemAsync(doc.Id, "api/Document");
                        await xClient.DeleteFile(doc.NameIx.ToString() + doc.DocName);
                        FindDoc = true;
                    }
                }
            }

            if (FindDoc)
            {
                HeaderText = string.Empty;
                showClass = "d-none";
                StateHasChanged();
                xnav.SetDone("xnavdone", "All your documents and messages were deleted.");
                xnav.SetReset('d');
                Auxx.Flag = true;
            }
            else
            {
                xnav.SetDone("xnavdone", "No documents or messages could be found.");
                xnav.SetReset('d');
            }

        }
        else
        {
            xnav.SetError("xnaverror", "The email address was incorrect.");
            xnav.SetReset('e');
        }
    }

    private async Task GetWindowSize() // Hämtar skärmstorlek.
    {
        var dim = await xClient.GetWindow();
        Win_Width = dim.Width;
        Win_Height = dim.Height;
    }

    private void MouseUp() // Moveable Toaster.
    {
        IsDown = false; // När man släpper musknappen.
    }

    private void MouseDown(MouseEventArgs e) // Moveable Toaster.
    {
        if (!IsDown) // Skillnaden mellan muspekarens position och css-värdet av objektet.
        {
            Diff_X = (int)e.ClientX - Pos_H;
            Diff_Y = Win_Height - (Pos_V + (int)e.ClientY);
            IsDown = true;
        }
    }

    private void MouseMove(MouseEventArgs e) // Moveable Toaster.
    {
        if (IsDown) // Flyttar objektet asynkront i musens riktning.
        {
            if ((int)e.ClientX - Diff_X > 0) Pos_H = (int)e.ClientX - Diff_X; else Pos_H = 0;
            if (Win_Height - ((int)e.ClientY + Diff_Y) > 0) Pos_V = Win_Height - ((int)e.ClientY + Diff_Y); else Pos_V = 0;
        }
    }

    private void MouseOut(MouseEventArgs e) // Förhindrar att muspekaren släpper objektet vid hastiga musrörelser.
    {
        if (IsDown) // Flyttar objektet asynkront i musens riktning.
        {
            if ((int)e.ClientX - Diff_X > 0) Pos_H = (int)e.ClientX - Diff_X; else Pos_H = 0;
            if (Win_Height - ((int)e.ClientY + Diff_Y) > 0) Pos_V = Win_Height - ((int)e.ClientY + Diff_Y); else Pos_V = 0;
        }
    }
}