@inject ILogger<CourseDetail> Logger
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Både studenter och lärare har åtkomst hit*@

<AuthorizeView Roles ="Student, Teacher">
    <Authorized>
        <div class="toast-container p-3 @showClass"
             style="position: fixed; top: auto; bottom: @(xnav.Pos_V)px; margin-left: @(xnav.Pos_H)px; z-index: 5" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast show bg-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header" @onmouseup=" _ => xnav.Mouse(0, 'U', _)" @onmousedown=" _ => xnav.Mouse(Win_Height, 'D', _)"
                     @onmousemove=" _ => xnav.Mouse(Win_Height, 'M', _)" @onmouseout=" _ => xnav.Mouse(Win_Height, 'M', _)">
                    <strong class="me-auto">@HeaderText</strong>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
                </div>

                <div class="toast-body">         
                    <div style="font-size: 0.9rem; font-weight: bold">@document.DocName</div>
                    <div class="m-3">@document.Description</div>
                    <div class="m-3">By: @document.Author</div>
                    <div class="m-3">Created: @document.TimeStamp</div>
                    <div class="m-3">
                        <button type="button" class="@classDelete" @onclick="DeleteFile" title="Remove this file from the system">Delete file</button>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string HeaderText = string.Empty;
    private string showClass = "d-none";

    private int Win_Height;

    private DocumentDto document = new();

    private string classDelete = string.Empty;

    public async Task Show()
    {
        xnav.SetReset('a');

        var dim = await xClient.GetWindow(); // Hämtar aktuell skärmstorlek.
        Win_Height = dim.Height;
        xnav.Pos_H = (int)Math.Round(dim.Width * 0.08); // 08%
        xnav.Pos_V = (int)Math.Round(Win_Height * 0.5); // 50%

        HeaderText = "Your document file...";

        if (Auxx.Flag) classDelete = "text-white remyes";
        else classDelete = "d-none";

        foreach (var doc in Auxx.Documents)
        {
            if (doc.Id == Auxx.IntId)
            {
                document.Id = doc.Id;
                document.NameIx = doc.NameIx;
                document.DocName = doc.DocName;
                document.Description = doc.Description;
                document.Author = doc.Author;
                document.TimeStamp = doc.TimeStamp;
            }
        }
        Auxx.Flag = false;
        showClass = "d-block";
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        showClass = "d-none";
        StateHasChanged();
    }

    private async Task DeleteFile()
    {
        await xClient.RemAsync(document.Id, "api/Document");
        await xClient.DeleteFile(document.NameIx + document.DocName);
        xnav.SetDone("This document file was deleted.");
        xnav.SetReset('d');
        Auxx.Flag = true;
        Close();
    }
}