@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<AuthorizeView Roles="Teacher">
    <Authorized>
        <div class="toast-container p-3 @showClass" @onmouseup="MouseUp" @onmousedown="MouseDown" @onmousemove="MouseMove" @onmouseout="MouseOut"
             style="position: fixed; top: auto; bottom: @(Pos_V)px; margin-left: @(Pos_H)px; z-index: 5" data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast show bg-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">@HeaderText</strong>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
                </div>

                <div class="toast-body">
                    <EditForm Model="@xClient" Context="fastdatelmslexnet" OnSubmit="HandleSubmitDates">
                        <div class="form-group row">
                            <span class="col-6">
                                <label for="Startdate">Set start date</label>
                                <InputDate id="Startdate" class="form-control" @bind-Value="Sdate" />
                            </span>
                            <span class="col-6">
                                <label for="Enddate">Set end date</label>
                                <InputDate id="Enddate" class="form-control" @bind-Value="Edate" />
                            </span>
                        </div>
                        <div class="form-group m-3">
                            <button type="submit" class="text-white rembtn" style="margin-right: 15px">Save dates</button>
                            <button type="button" class="text-white remnot" @onclick="Close">NO</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string HeaderText = string.Empty;
    private string showClass = "d-none";

    private int Win_Width;
    private int Win_Height;
    private int Diff_X;
    private int Diff_Y;
    private int Pos_H;
    private int Pos_V;
    private bool IsDown = false;

    private List<ModuleDto> modules = new();

    private DateTime Sdate;

    private DateTime Edate;

    public async Task Show()
    {
        xnav.SetReset('a');

        await GetWindowSize(); // Hämtar aktuell skärmstorlek.
        Pos_H = (int)Math.Round(Win_Width * 0.08); // 08%
        Pos_V = (int)Math.Round(Win_Height * 0.5); // 50%

        var module = await xClient.GetAsync<IEnumerable<ModuleDto>>("api/Module");
        if (module is not null) modules = module.ToList();

        foreach (var mod in modules)
        {
            if (mod.Id == Auxx.IntId)
            {
                Sdate = mod.StartDate;
                Edate = mod.EndDate;
            }
        }

        HeaderText = "Edit dates for this module...";
        showClass = "d-block";
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        showClass = "d-none";
        StateHasChanged();
    }

    private async Task HandleSubmitDates()
    {
        var lmod = new ModuleDto();
        lmod.StartDate = Sdate;
        lmod.EndDate = Edate;

        foreach (var mod in modules)
        {
            if (mod.Id == Auxx.IntId)
            {
                lmod.Id = mod.Id;
                lmod.Name = mod.Name;
                lmod.Description = mod.Description;
                lmod.Select = mod.Select;
                lmod.CourseId = mod.CourseId;
            }
        }

        try
        {
            await xClient.PutAsync<ModuleDto>(Auxx.IntId, lmod, "api/Module");
            xnav.SetDone("xnavdone", "The dates were saved.");
            xnav.SetReset('d');
        }
        catch
        {
            xnav.SetError("xnaverror", "An error occurred while saving to module.");
            xnav.SetReset('e');
        }
        Auxx.Flag = true;
        Close(); // Ingen omnavigering eftersom det nollställer alla statiska variabler.
    }

    private async Task GetWindowSize() // Hämtar skärmstorlek.
    {
        var dim = await xClient.GetWindow();
        Win_Width = dim.Width;
        Win_Height = dim.Height;
    }

    private void MouseUp() // Moveable Toaster.
    {
        IsDown = false; // När man släpper musknappen.
    }

    private void MouseDown(MouseEventArgs e) // Moveable Toaster.
    {
        if (!IsDown) // Skillnaden mellan muspekarens position och css-värdet av objektet.
        {
            Diff_X = (int)e.ClientX - Pos_H;
            Diff_Y = Win_Height - (Pos_V + (int)e.ClientY);
            IsDown = true;
        }
    }

    private void MouseMove(MouseEventArgs e) // Moveable Toaster.
    {
        if (IsDown) // Flyttar objektet asynkront i musens riktning.
        {
            if ((int)e.ClientX - Diff_X > 0) Pos_H = (int)e.ClientX - Diff_X; else Pos_H = 0;
            if (Win_Height - ((int)e.ClientY + Diff_Y) > 0) Pos_V = Win_Height - ((int)e.ClientY + Diff_Y); else Pos_V = 0;
        }
    }

    private void MouseOut(MouseEventArgs e) // Förhindrar att muspekaren släpper objektet vid hastiga musrörelser.
    {
        MouseMove(e); // Samma algoritm såsom MouseMove gäller även här.
    }
}