@page "/studentcourse"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAppUserDtoClient appuserClient
@inject NavigationManager Navigation
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Både studenter och lärare har åtkomst hit*@

<PageTitle>Student course</PageTitle>

<AuthorizeView Roles="Student, Teacher">
    <Authorized>
        <nav style="display: flex">
            <div style="width: 75%"><h3>@loggeduser.FirstName, this is your course:
                <em style="cursor: pointer" @onclick=" _ => InfoTitle(CourseDescription)">@CourseName</em></h3>
            </div>
            <div style="margin: 0 auto 0 auto"><h5>@CourseDate</h5></div>
            <div style="margin: 0 0 0 auto">
                <button type="button" class="mb-1 text-white delbtn" @onclick="AddDeleteAvatar" title="Add or delete avatar">A</button>
                <button type="button" class="mb-1 text-white delbtn" @onclick="DeleteAllDocs" title="Delete all documents and messages">E</button>
            </div>
        </nav><br />

        <div class="container"> @*Eventuella dokument som ingår läggs ut här*@
            <div class="d-flex flex-wrap">
                @foreach (var doc in documents)
                {
                    <ul class="nav">
                        @if (doc.Id4Course == CourseId)
                        {
                            <li class="doclink">
                                <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Mandatory post">@doc.DocName</span>
                                <span class="oi oi-file text-primary text-decoration-none docicon"
                                @onclick=" _ => DocUserControl(doc.Id, false)"></span>
                            </li>
                        }

                        @if (doc.UserId == loggeduser.Id && doc.DocName != "" && doc.Id4Course != -2 && doc.ActivityId == 0)
                        {
                            if (DateTime.Parse(doc.TimeStamp).AddDays(1) > DateTime.Now)
                            {
                                <li class="doclink" style="background-color:lavenderblush; box-shadow: 0 0 10px plum">
                                    <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Personal post">@doc.DocName</span>
                                    <span class="oi oi-file text-primary text-decoration-none docicon"
                                    @onclick=" _ => DocUserControl(doc.Id, true)"></span>
                                </li>
                            }
                            else
                            {
                                <li class="doclink" style="background-color:lavenderblush">
                                    <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Personal post">@doc.DocName</span>
                                    <span class="oi oi-file text-primary text-decoration-none docicon"
                                    @onclick=" _ => DocUserControl(doc.Id, true)"></span>
                                </li>
                            }
                        }

                        @if (doc.UserId == loggeduser.Id && doc.DocName == "" && doc.ActivityId == 0)
                        {
                            if (DateTime.Parse(doc.TimeStamp).AddDays(1) > DateTime.Now)
                            {
                                <li class="oi oi-file text-danger text-decoration-none docicon"
                                    style="position: relative; top: 10px; margin-right: 22px; text-shadow: 0 0 10px plum"
                                    @onmouseover=" _ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                    @onclick=" _ => DeleteMess(doc.Id)">
                                </li>
                            }
                            else
                            {
                                <li class="oi oi-file text-danger text-decoration-none docicon"
                                    style="position: relative; top: 10px; margin-right: 22px"
                                    @onmouseover=" _ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                    @onclick=" _ => DeleteMess(doc.Id)">
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div><br />

        <DeleteMess @ref="deletemessRef" /> @*Delete-fönster*@
        <DeleteAllDocUser @ref="deletealldocRef" /> @*Delete-fönster*@
        <DocumentAdd @ref="docsaveRef" /> @*Filsparfönster*@
        <DocumentUser @ref="docuserRef" /> @*Filmottagarefönster*@
        <DocumentAvatar @ref="addavatarRef" /> @*Avatar-fönster*@

        @if (modules == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Context="searchlmslexnet" Model="@modules" OnSubmit="OnInitializedAsync">
                <span class="nav m-lg-auto input-group">
                    <InputText class="form-control" @bind-Value="searchString" placeholder="Module name" />
                    <span class="nav m-lg-auto input-group-append" style="z-index: 0">
                        <button type="submit" class="btn m-lg-auto btn-outline-dark">Search</button>
                    </span>
                    <span class="nav m-lg-auto input-group-append" style="z-index: 0">
                        <button type="button" @onclick="GetCurrentModule" class="btn m-lg-auto btn-outline-dark">Current</button>
                    </span>
                </span>
            </EditForm><br />

            @foreach (var data in modules)
            {
            if (data.Select == 1 || data.Select == 10 || data.Select == 2 || data.Select == 20 || data.Select == 4)
                {
                    if (data.StartDate < DateTime.Now && data.EndDate > DateTime.Now)
                    {
                        if (data.Select != 4)
                        {
                            classModTopic = "moduleboxtopic";
                            classActTopic = "activityboxtopic";
                        }
                        else
                        {
                            classModTopic = "d-none";
                            classActTopic = "activity4S_box";
                        }
                    }
                    else
                    {
                        if (data.Select != 4)
                        {
                            classModTopic = "modulebox";
                            classActTopic = "activitybox";
                        }
                        else
                        {
                            classModTopic = "d-none";
                            classActTopic = "activity4S_box";
                        }
                    }

                    <section class="@classModTopic">
                        <div style="display: flex">
                            <div style="width: 85%">
                                @if (data.Select == 1)
                                {
                                    <b>Module @data.Id: <em style="cursor: pointer" @onclick=" _ => InfoTitle(data.Description)">@data.Name</em></b>
                                }
                                else
                                {
                                    <b>Module <em style="cursor: pointer" @onclick=" _ => InfoTitle(data.Description)">@data.Name</em></b>
                                }
                            </div>
                            <div style="margin: 0 0 0 auto"><b>@XNavMenu.StartEndDate(data.StartDate, data.EndDate)</b></div>
                        </div>

                        <div style="display: flex; margin-top: 10px">
                            <div class="dropdoc">
                                <button type="button" id="M@(data.Id)" class="docviewbtn">DOCs</button>
                                <div class="dropdoc-content">
                                    @foreach (var doc in documents)
                                    {
                                        if (doc.ModuleId == data.Id && data.Select < 8)
                                        {
                                            if (doc.DocName != "")
                                            {
                                                // Öppnar filen samt visar dokumentets formulärdata.
                                                <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                title="@doc.Description by @doc.Author @doc.TimeStamp"
                                                @onmouseover="_ => ShowInfoControl(doc.Description, doc.Author, doc.TimeStamp)">@doc.DocName</a>
                                            }
                                            else
                                            {
                                                <a @onmouseover="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                title="@doc.Description by @doc.Author @doc.TimeStamp">By @doc.Author</a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>

                    <article class="@classActTopic">

                        <table class="table" style="color: #555"> @*Grå text*@
                            <thead>
                                @if (data.Select == 1 || data.Select == 10)
                                {
                                    <tr>
                                        <th>Nr</th>
                                        <th>Aktivity</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                    </tr>
                                }

                                @if (data.Select == 2 || data.Select == 20)
                                {
                                    <tr>
                                        <th>Aktivity</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                    </tr>
                                }

                                @if (data.Select == 4)
                                {
                                    <tr>
                                        <th>Aktivity</th>
                                        <th>Description</th>
                                        <th>Items</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    if (act.Select > 0)
                                    {
                                        <tr>
                                            @if (act.ModuleId == data.Id)
                                            {
                                                if (data.Select == 1 || data.Select == 10)
                                                {
                                                    <td>@act.Id</td>
                                                }

                                                if (data.Select == 3 || data.Select == 4)
                                                {
                                                    <td><b style="cursor: pointer" @onclick=" _ => InfoTitle(act.Description)">@act.Name</b></td>
                                                }
                                                else
                                                {
                                                    <td><em style="cursor: pointer" @onclick=" _ => InfoTitle(act.Description)">@act.Name</em></td>
                                                }

                                                if (data.Select != 4)
                                                {
                                                    <td>
                                                        @foreach (var actype in activityTypes)
                                                        {
                                                            if (actype.Id == act.ActivityTypeId)
                                                            {
                                                                @actype.Name
                                                            }
                                                        }
                                                    </td>
                                                    <td>@XNavMenu.StartEndDate(act.StartDate, act.EndDate)</td>
                                                }
                                                else
                                                {
                                                    <td>@act.Description</td>
                                                }
                                                <td>
                                                    @{Empty = true;}
                                                    <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(act.Id, 40, act.Name)"
                                                    title="Add a document or a message to this activity">+ DOC</button>
                                                    <div class="dropdoc">
                                                        <button type="button" id="A@(act.Id)" class="docviewbtn">DOCs</button>
                                                        <div class="dropdoc-content">
                                                            @foreach (var doc in documents)
                                                            {
                                                                if (act.Select < 5 && ((doc.ActivityId == act.Id && doc.Id4Course < 0) ||
                                                                (doc.ActivityId == act.Id && doc.UserId == loggeduser.Id)))
                                                                {
                                                                    if (doc.DocName != "")
                                                                    {
                                                                        // Öppnar filen samt visar dokumentets formulärdata.
                                                                        <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                                        title="@doc.Description by @doc.Author @doc.TimeStamp"
                                                                        @onmouseover="_ => ShowInfoControl(doc.Description, doc.Author, doc.TimeStamp)">@doc.DocName</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a @onmouseover="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                                        title="@doc.Description by @doc.Author @doc.TimeStamp">By @doc.Author</a>
                                                                    }

                                                                    if (doc.ActivityId == act.Id && doc.UserId == loggeduser.Id) Empty = false;
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @if (!Empty)
                                                    {
                                                        <span class="oi oi-aperture text-primary mt-1 text-decoration-none"></span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </article>
                }

                if (data.Select == 3)
                {
                    if (data.StartDate < DateTime.Now && data.EndDate > DateTime.Now) classMainTopic = "module3S_maintopic";
                    else classMainTopic = "module3S_main";

                    <main class="@classMainTopic">
                        <section class="module3S_box">
                            @if (data.Name != "#E#" && data.Name != "#H#")
                            {
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1.2rem"><b>@data.Name</b></div>
                            }

                            @if (data.Name == "#E#")
                            {
                                <div>&nbsp;</div>
                            }

                            @if (data.Description != "#E#" && data.Description != "#H#")
                            {
                                <div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 0.8rem; margin: 5px 0 10px 0">
                                <b><em>@data.Description</em></b></div>
                            }

                            @if (data.Description == "#E#")
                            {
                                <div>&nbsp;</div>
                            }
                        </section>

                        <article class="activity3S_box">

                            <table class="table" style="color: #555"> @*Grå text*@
                                <thead>
                                    <tr>
                                        <th>Aktivity</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var act in activities)
                                    {
                                        if (act.Select > 0)
                                        {
                                            <tr>
                                                @if (act.ModuleId == data.Id)
                                                {
                                                    if (data.Select == 1)
                                                    {
                                                        <td>@act.Id</td>
                                                    }
                                                    <td><b style="cursor: pointer" @onclick=" _ => InfoTitle(act.Description)">@act.Name</b></td>
                                                    <td>
                                                        @foreach (var actype in activityTypes)
                                                        {
                                                            if (actype.Id == act.ActivityTypeId)
                                                            {
                                                                @actype.Name
                                                            }
                                                        }
                                                    </td>
                                                    <td>@XNavMenu.StartEndDate(act.StartDate, act.EndDate)</td>
                                                    <td>
                                                        @{Empty = true;}
                                                        <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(act.Id, 40, act.Name)"
                                                        title="Add a document or a message to this activity">+ DOC</button>
                                                        <div class="dropdoc">
                                                            <button type="button" id="A@(act.Id)" class="docviewbtn">DOCs</button>
                                                            <div class="dropdoc-content">
                                                                @foreach (var doc in documents)
                                                                {
                                                                    if (act.Select < 5 && ((doc.ActivityId == act.Id && doc.Id4Course < 0) ||
                                                                    (doc.ActivityId == act.Id && doc.UserId == loggeduser.Id)))
                                                                    {
                                                                        if (doc.DocName != "")
                                                                        {
                                                                            // Öppnar filen samt visar dokumentets formulärdata.
                                                                            <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                                            title="@doc.Description by @doc.Author @doc.TimeStamp"
                                                                            @onmouseover="_ => ShowInfoControl(doc.Description, doc.Author, doc.TimeStamp)">@doc.DocName</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a @onmouseover="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                                            title="@doc.Description by @doc.Author @doc.TimeStamp">By @doc.Author</a>
                                                                        }

                                                                        if (doc.ActivityId == act.Id && doc.UserId == loggeduser.Id) Empty = false;
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @if (!Empty)
                                                        {
                                                            <span class="oi oi-aperture text-primary mt-1 text-decoration-none"></span>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </article>
                    </main>
                }
            }
        }

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private DeleteMess? deletemessRef; // Delete-fönster.

    private async Task DeleteMess(int id) // Delete-fönster.
    {
        Auxx.IntId = id;
        await deletemessRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private DeleteAllDocUser? deletealldocRef; // Delete-fönster.

    private async Task DeleteAllDocs() // Delete-fönster.
    {
        Auxx.Loggeduser = loggeduser;
        await deletealldocRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private DocumentAdd? docsaveRef; // Filsparfönster.

    private async Task DocSaveControl(int id, byte doctype, string name) // Filsparfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Name4Type = name;
        await docsaveRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private DocumentUser? docuserRef; // Filmottagarefönster.

    private async Task DocUserControl(int id, bool delete) // Filmottagarefönster.
    {
        Auxx.IntId = id;
        Auxx.Flag = delete;
        Auxx.Documents = documents;
        await docuserRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private DocumentAvatar? addavatarRef; // Avatar-fönster.

    private async Task AddDeleteAvatar() // Avatar-fönster.
    {
        Auxx.Name4Type = loggeduser.FirstName + ' ' + loggeduser.LastName;
        Auxx.Loggeduser = loggeduser;
        await addavatarRef!.Show();
        await RefreshAfterThis(); // Uppdaterar sidan.
    }

    private List<CourseDto> courses = new();

    private List<ModuleDto> modules = new();

    private List<ActivityDto> activities = new();

    private List<ActivityTypeDto> activityTypes = new();

    private List<DocumentDto> documents = new();

    private AppUserDto loggeduser = new(); // Info om den som för tillfället är inloggad.

    private string CourseName = string.Empty;
    private string CourseDescription = string.Empty;
    private string CourseDate = string.Empty;
    private string classModTopic = string.Empty;
    private string classActTopic = string.Empty;
    private string classMainTopic = string.Empty;
    private string searchString = string.Empty;
    private int CourseId;
    private bool Empty;

    private async Task RefreshAfterThis() // Uppdaterar efter förändring av innehåll.
    {
        while (!Auxx.Flag) await xnav.Intermission(1000, false);
        Auxx.Flag = false;
        await xnav.Intermission(1000, false);
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        xnav.SetReset('a');

        courses.Clear();
        modules.Clear();
        activities.Clear();
        activityTypes.Clear();
        documents.Clear();

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity?.Name!; // Email för den som för tillfället är inloggad.

        var appuser = await appuserClient.GetAsync();

        var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");
        var activityType = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");

        if (document is not null) documents = document.ToList();

        if (course is not null)
        {
            if (appuser is not null)
            {
                foreach (var item in appuser) // Hämtar den som för tillfället är inloggad.
                {
                    if (item.Email == name) loggeduser = item;
                }
            }

            xnav.SetLogAvatar("d-none", "");

            foreach (var doc in documents) // Letar efter en avatar.
            {
                if (doc.UserId == loggeduser.Id && doc.Id4Course == -2)
                {
                    xnav.SetLogAvatar("avatarlog", xClient.GetFilepath() + doc.NameIx + doc.DocName);
                }
            }

            foreach (var cour in course)
            {
                if (cour.Id == loggeduser.CourseId) // Hämtar Kursinfo.
                {
                    CourseName = cour.Name;
                    CourseDescription = cour.Description;
                    CourseId = cour.Id;
                    CourseDate = XNavMenu.StartEndDate(cour.StartDate, cour.EndDate);

                    foreach (var mod in cour.Modules) // Hämtar moduler.
                    {
                        // Sökfiltrering med IndexOf: modulnamn.
                        if (!string.IsNullOrWhiteSpace(searchString))
                        {
                            if (mod.Name.ToLower().IndexOf(searchString.ToLower()) != -1) modules.Add(mod);
                        }
                        else modules.Add(mod);

                        if (!string.IsNullOrWhiteSpace(searchString) && modules.Count < 1) CourseName = "No module matched the search term...";

                        foreach (var act in mod.Activities) // Hämtar aktiviteter.
                        {
                            activities.Add(act);
                        }
                    }
                }
            }
        }
        else
        {
            CourseName = "No course could be find...";
        }

        if (activityType is not null) // Hämtar aktivitetstyper.
        {
            activityTypes = activityType.ToList();
        }
    }

    protected override async void OnAfterRender(bool firstRender) // Byter klass på knapp om dokument hittas.
    {
        foreach (var mod in modules)
        {
            foreach (var doc in documents)
            {
                if (mod.Id == doc.ModuleId && (mod.Select == 1 || mod.Select == 2))
                    await xClient.ChangeClass("M" + mod.Id, "docviewbtn-docs");
            }

            foreach (var act in activities)
            {
                if (act.ModuleId == mod.Id)
                {
                    foreach (var doc in documents)
                    {
                        if (act.Id == doc.ActivityId && act.Select == 1 && mod.Select != 0)
                            await xClient.ChangeClass("A" + act.Id, "docviewbtn-docs");
                    }
                }
            }
        }
    }

    private void InfoTitle(string description)
    {
        xnav.SetInfo(description);
        xnav.SetReset('i');
    }

    private async Task OpenFileControl(int ix, string filename)
    {
        await xClient.OpenFile(ix, filename);
    }

    private void ShowInfoControl(string description, string author, string timestamp)
    {
        xnav.SetInfo(description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('i');
    }

    private void ShowMessControl(string description, string author, string timestamp)
    {
        xnav.SetMess(description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('m');
    }

    private void GetCurrentModule() // Hämtar aktuell modul.
    {
        var module = new ModuleDto();
        bool FindMod = false;

        foreach (var mod in modules)
        {
            if (mod.StartDate <= DateTime.Now && mod.EndDate >= DateTime.Now)
            {
                module = mod;
                FindMod = true;
            }
        }

        if (FindMod)
        {
            modules.Clear();
            modules.Add(module);
            xnav.SetDone("Your current module.");
            xnav.SetReset('d');
        }
        else
        {
            xnav.SetDone("There is no current module.");
            xnav.SetReset('d');
        }
    }
}
