@page "/studentall"
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Både studenter och lärare har åtkomst hit*@

<PageTitle>Student all</PageTitle>

<AuthorizeView Roles="Student, Teacher">
    <Authorized>
<h3>@Emptydb</h3>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Email</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in students)
            {
                <tr>                    
                    <td>@data.FirstName @data.LastName</td>
                    <td>@data.Email</td>
                    <td>
                        @foreach (var item in courses) // Hämtar kursen för användaren.
                        {
                            if (item.Id == data.CourseId)
                            {
                                IsCourse = true;
                                <span>@item.Name</span>
                            }
                        }
                        @if (!IsCourse)
                        {
                            <span>No course yet...</span>
                        }
                        @{IsCourse = false;}
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>


@code {

    private List<AppUserDto> students = new List<AppUserDto>();

    private List<CourseDto> courses = new List<CourseDto>();

    [Inject]
    private IAppUserDtoClient appuserClient { get; set; } = default!;

    [Inject]
    private ICourseDtoClient courseClient { get; set; } = default!;

    private string Emptydb = "List of students";

    private bool IsCourse;

    protected override async Task OnInitializedAsync()
    {
        var appusers = await appuserClient.GetAsync();

        if (appusers is not null)
        {
            foreach (var item in appusers)
            {
                if (item.UserRole == 1) students.Add(item);
            }
            if (students.Count < 1) Emptydb = "No students !";
        }
        else
        {
            Emptydb = "No students !";
        }

        var course = await courseClient.GetAsync();

        if (course is not null)
        {
            courses = course.ToList();
        }
    }
}
