@page "/studentcourse"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager Navigation
@inject IAppUserDtoClient appuserClient
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Både studenter och lärare har åtkomst hit*@

<PageTitle>Student course</PageTitle>

<AuthorizeView Roles="Student, Teacher">
    <Authorized>
        <nav style="display: flex; width: 100%">
            <div style="width: 75%; text-align: left"><h3>@loggeduser.FirstName, this is your course:
                <em style="cursor: pointer" @onclick=" _ => InfoTitle(CourseDescription)">@CourseName</em></h3>
            </div>
            <div style="margin-left: auto; margin-right: auto"><h5>@CourseDate</h5></div>
            <div style="margin-left: auto; margin-right: 0">
                <button type="button" class="text-white delbtn" @onclick="DeleteAll" title="Delete all documents and messages">E</button>
            </div>
        </nav><br />

        <div class="container" @onmouseover="DeleteRefresh"> @*Eventuella dokument som ingår läggs ut här*@
            <div class="d-flex flex-wrap">
                @foreach (var doc in documents)
                {
                    <ul class="nav">
                        @if (doc.Id4Course == CourseId)
                        {
                            <li class="doclink">
                                <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Mandatory post">@doc.DocName</span>
                                <span class="oi oi-file text-primary text-decoration-none docicon"
                                @onclick=" _ => DocUserControl(doc.Id, false)"></span>
                            </li>
                        }

                        @if (doc.UserId == loggeduser.Id && doc.DocName != "")
                        {
                            if (DateTime.Parse(doc.TimeStamp).AddDays(1) > DateTime.Now)
                            {
                                <li class="doclink" style="background-color:lavenderblush; box-shadow: 0 0 10px plum">
                                    <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Personal post">@doc.DocName</span>
                                    <span class="oi oi-file text-primary text-decoration-none docicon"
                                    @onclick=" _ => DocUserControl(doc.Id, true)"></span>
                                </li>
                            }
                            else
                            {
                                <li class="doclink" style="background-color:lavenderblush">
                                    <span @onclick=" _ => OpenFileControl(doc.NameIx, doc.DocName)" title="Personal post">@doc.DocName</span>
                                    <span class="oi oi-file text-primary text-decoration-none docicon"
                                    @onclick=" _ => DocUserControl(doc.Id, true)"></span>
                                </li>
                            }
                        }

                        @if (doc.UserId == loggeduser.Id && doc.DocName == "")
                        {
                            if (DateTime.Parse(doc.TimeStamp).AddDays(1) > DateTime.Now)
                            {
                                <li class="oi oi-file text-danger text-decoration-none docicon"
                                    style="position: relative; top: 10px; margin-right: 22px; text-shadow: 0 0 10px plum"
                                    @onmouseover=" _ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                    @onclick=" _ => DeleteMess(doc.Id)">
                                </li>
                            }
                            else
                            {
                                <li class="oi oi-file text-danger text-decoration-none docicon"
                                    style="position: relative; top: 10px; margin-right: 22px"
                                    @onmouseover=" _ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                    @onclick=" _ => DeleteMess(doc.Id)">
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div><br />

        <DeleteAll @ref="deleteallRef" /> @*Delete-fönster*@
        <DeleteMess @ref="deletemessRef" /> @*Delete-fönster*@
        <DocumentAdd @ref="docsaveRef" /> @*Filsparfönster*@
        <DocumentUser @ref="docuserRef" /> @*Filmottagarefönster*@

        @if (modules == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <EditForm Context="searchlmslexnet" Model="@modules" OnSubmit="OnInitializedAsync" @onmouseover="DeleteRefresh">
                <span class="nav m-lg-auto input-group">
                    <InputText class="form-control" @bind-Value="searchString" placeholder="Module name" />
                    <span class="nav m-lg-auto input-group-append">
                        <button type="submit" class="btn m-lg-auto btn-outline-dark">Search</button>
                    </span>
                    <span class="nav m-lg-auto input-group-append">
                        <button type="button" @onclick="GetCurrentModule" class="btn m-lg-auto btn-outline-dark">Current</button>
                    </span>
                </span>
            </EditForm><br />

            @foreach (var data in modules)
            {
                if (data.IsActive)
                {
                    if (data.StartDate < DateTime.Now && data.EndDate > DateTime.Now)
                    {
                        classModTopic = "moduleboxtopic";
                        classActTopic = "activityboxtopic";
                    }
                    else
                    {
                        classModTopic = "modulebox";
                        classActTopic = "activitybox";
                    }
                    <section class="@classModTopic" @onmouseover="DeleteRefresh">
                        <div style="display: flex; width: 100%">
                            <div style="width: 75%; text-align: left">
                                <b>Module @data.Id: <em style="cursor: pointer" @onclick=" _ => InfoTitle(data.Description)">@data.Name</em></b>
                            </div>
                            <div style="margin-left: auto; margin-right: 0"><b>@StartEndDate(data.StartDate, data.EndDate)</b></div>
                        </div>
                        <div style="display: flex; width: 100%; margin-top: 10px">
                            <div class="dropdoc">
                                <button type="button" class="docviewbtn">DOCs</button>
                                <div class="dropdoc-content">
                                    @foreach (var doc in documents)
                                    {
                                        if (doc.ModuleId == data.Id)
                                        {
                                            // Öppnar filen samt visar dokumentets formulärdata.
                                            <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                            title="@doc.Description by @doc.Author @doc.TimeStamp"
                                            @onmouseover="_ => ShowInfoControl(doc.Description, doc.Author, doc.TimeStamp)">@doc.DocName</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>

                    <article class="@classActTopic">

                        <table class="table" style="color: #555">@*Grå text*@
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Aktivity</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var act in activities)
                                {
                                    if (act.IsActive)
                                    {
                                        <tr>
                                            @if (act.ModuleId == data.Id)
                                            {
                                                <td>@act.Id</td>
                                                <td><em style="cursor: pointer" @onclick=" _ => InfoTitle(act.Description)">@act.Name</em></td>
                                                <td>
                                                    @foreach (var actype in activityTypes)
                                                    {
                                                        if (actype.Id == act.ActivityTypeId)
                                                        {
                                                            @actype.Name
                                                        }
                                                    }
                                                </td>
                                                <td>@StartEndDate(act.StartDate, act.EndDate)</td>
                                                <td>
                                                    @{Empty = true;}
                                                    <button type="button" class="docplusbtn" @onclick=" _ => DocSaveControl(act.Id, 40, act.Name)"
                                                    title="Add a document or a message to this activity">+ DOC</button>
                                                    <div class="dropdoc">
                                                        <button type="button" class="docviewbtn">DOCs</button>
                                                        <div class="dropdoc-content">
                                                            @foreach (var doc in documents)
                                                            {
                                                                if (doc.ActivityId == act.Id)
                                                                {
                                                                    if (doc.DocName != "")
                                                                    {
                                                                        // Öppnar filen samt visar dokumentets formulärdata.
                                                                        <a @onclick="_ => OpenFileControl(doc.NameIx, doc.DocName)"
                                                                        title="@doc.Description by @doc.Author @doc.TimeStamp"
                                                                        @onmouseover="_ => ShowInfoControl(doc.Description, doc.Author, doc.TimeStamp)">@doc.DocName</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a @onmouseover="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)"
                                                                        title="@doc.Description by @doc.Author @doc.TimeStamp">By @doc.Author</a>
                                                                    }
                                                                    Empty = false;
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @if (!Empty)
                                                    {
                                                        <span class="oi oi-aperture text-primary text-decoration-none"
                                                        style="position: relative; top: 2px"></span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </article>
                }
            }
        }

    </Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private DeleteAll? deleteallRef; // Delete-fönster.

    private void DeleteAll() // Delete-fönster.
    {
        Auxx.Loggeduser = loggeduser;
        deleteallRef!.Show();
    }

    private DeleteMess? deletemessRef; // Delete-fönster.

    private void DeleteMess(int id) // Delete-fönster.
    {
        Auxx.IntId = id;
        deletemessRef!.Show();
    }

    private async Task DeleteRefresh() // Uppdaterar efter förändring av innehållet.
    {
        if (Auxx.Flag)
        {
            await OnInitializedAsync();
            Auxx.Flag = false;
        }
    }

    private DocumentAdd? docsaveRef; // Filsparfönster.

    private async Task DocSaveControl(int id, byte doctype, string name) // Filsparfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Name4Type = name;
        await docsaveRef!.Show();
    }

    private DocumentUser? docuserRef; // Filmottagarefönster.

    private void DocUserControl(int id, bool delete) // Filmottagarefönster.
    {
        Auxx.IntId = id;
        Auxx.Flag = delete;
        Auxx.Documents = documents;
        docuserRef!.Show();
    }

    private List<CourseDto> courses = new();

    private List<ModuleDto> modules = new();

    private List<ActivityDto> activities = new();

    private List<ActivityTypeDto> activityTypes = new();

    private List<DocumentDto> documents = new();

    private AppUserDto loggeduser = new(); // Info om den som för tillfället är inloggad.

    private string CourseName = string.Empty;
    private string CourseDescription = string.Empty;
    private string CourseDate = string.Empty;
    private string classModTopic = string.Empty;
    private string classActTopic = string.Empty;
    private string searchString = string.Empty;
    private int CourseId;
    private bool Empty;

    protected override async Task OnInitializedAsync()
    {
        xnav.SetReset('a');

        courses.Clear();
        modules.Clear();
        activities.Clear();
        activityTypes.Clear();
        Empty = true;

        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity?.Name!; // Email för den som för tillfället är inloggad.

        var appuser = await appuserClient.GetAsync();

        var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");
        var activityType = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");
        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");

        if (document is not null) documents = document.ToList();

        if (course is not null && appuser is not null)
        {
            foreach (var item in appuser) // Hämtar den som för tillfället är inloggad.
            {
                if (item.Email == name) loggeduser = item;
            }

            foreach (var cour in course)
            {
                if (cour.Id == loggeduser.CourseId) // Hämtar Kursinfo.
                {
                    CourseName = cour.Name;
                    CourseDescription = cour.Description;
                    CourseId = cour.Id;
                    CourseDate = StartEndDate(cour.StartDate, cour.EndDate);

                    foreach (var mod in cour.Modules) // Hämtar moduler.
                    {
                        // Sökfiltrering med IndexOf: modulnamn.
                        if (!string.IsNullOrWhiteSpace(searchString))
                        {
                            if (mod.Name.ToLower().IndexOf(searchString.ToLower()) != -1) modules.Add(mod);
                        }
                        else
                        {
                            modules.Add(mod);
                        }
                        if (!string.IsNullOrWhiteSpace(searchString) && modules.Count < 1) CourseName = "No module matched the search term...";

                        foreach (var act in mod.Activities) // Hämtar aktiviteter.
                        {
                            activities.Add(act);
                        }
                    }
                }
            }
        }
        else
        {
            CourseName = "No course could be find...";
        }

        if (activityType is not null) // Hämtar aktivitetstyper.
        {
            activityTypes = activityType.ToList();
        }
    }

    private string StartEndDate(DateTime start, DateTime end) // Returnerar datumsträng.
    {
        return $"{start.ToString().Substring(0, 10)} | {end.ToString().Substring(0, 10)}";
    }

    private void InfoTitle(string description)
    {
        xnav.SetInfo("xnavinfo", description);
        xnav.SetReset('i');
    }

    private async Task OpenFileControl(int ix, string filename)
    {
        await xClient.OpenFile(ix, filename);
    }

    private void ShowInfoControl(string description, string author, string timestamp)
    {
        xnav.SetInfo("xnavinfo", description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('i');
    }

    private void ShowMessControl(string description, string author, string timestamp)
    {
        xnav.SetMess("xnavmess", description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('m');
    }

    private void GetCurrentModule() // Hämtar aktuell modul.
    {
        var module = new ModuleDto();
        bool FindMod = false;

        foreach (var mod in modules)
        {
            if (mod.StartDate <= DateTime.Now && mod.EndDate >= DateTime.Now)
            {
                module = mod;
                FindMod = true;
            }
        }

        if (FindMod)
        {
            modules.Clear();
            modules.Add(module);
            xnav.SetDone("xnavdone", "Your current module.");
            xnav.SetReset('d');
        }
        else
        {
            xnav.SetDone("xnavdone", "There is no current module.");
            xnav.SetReset('d');
        }
    }
}
