@page "/teacherallstudents"
@using System.Diagnostics;
@inject NavigationManager Navigation
@inject IAppUserDtoClient appuserClient
@inject IXDtoClient xClient
@inject XLangTeacher xtea
@inject XLangToast xtoa
@inject XPagination xpag
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<PageTitle>Teacher all students</PageTitle>

<AuthorizeView Roles ="Teacher">
    <Authorized>
<h4 class="@Emptydbcolor">@Emptydb</h4>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Context="searchlmslexnet" Model="@students" OnSubmit="OnInitializedAsync">
        <div class="input-group">
            <InputText class="form-control" @bind-Value="searchString" placeholder="First name, last name or course" />
            <div style="z-index: 0">
                <InputSelect class="form-select" aria-label="Select type" @bind-Value="searchType">
                    <option value="1">Name</option>
                    <option value="2">Course</option>
                </InputSelect>
            </div>
            <div style="z-index: 0">
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
            <div style="z-index: 0">
                <button type="button" @onclick="SortName" class="btn btn-outline-dark">Sort names</button>
            </div>
            <div style="z-index: 0">
                <button type="button" @onclick="SortCourse" class="btn btn-outline-dark">Sort courses</button>
            </div>
            <div style="z-index: 0">
                <button type="button" @onclick="PagControl" class="btn btn-outline-dark" title=@xtea.TxtTitle[29]>P</button>
            </div>
            <div style="z-index: 0">
                <button type="button" @onclick="StudentPage" class="btn btn-outline-dark" title=@xtea.TxtTitle[30]>S</button>
            </div>
        </div>
    </EditForm>

    <ToastDeleteMess @ref="messRef" /> @*Delete-fönster*@
    <ToastDeleteStudent @ref="deleteRef" /> @*Delete-fönster*@
    <ToastDocumentAdd @ref="docsaveRef" /> @*Filsparfönster*@
    <ToastDocumentEdit @ref="doceditRef" /> @*Filredigeringsfönster*@
    <ToastPagination @ref="paginationRef" /> @*Pagineringsfönster*@

    <table class="table">
        <thead>
            <tr>
                @if (xpag.ClassPag == "d-flex") // Eliminerar visuella störningar.
                {
                    <th>@xtea.TxtText[63]</th>
                    <th>@xtea.TxtText[66]</th>
                    <th>@xtea.TxtText[67]</th>
                    <th>@xtea.TxtText[68]</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var data in students)
            {
                if (xpag.PagProceed(students)) // Paginering.
                {
                    <tr style="color: darkblue">
                        @{classAvatar = "";}
                        @foreach (var doc in documents)
                        {
                            if (doc.UserId == data.Id && doc.Id4Course == -2) classAvatar = "avatar";
                        }
                        <td class="@classAvatar" @onmouseover=" _ => ShowAvatar(data.Id)">@data.FirstName @data.LastName</td>
                        <td>@data.Email</td>
                        <td>@data.PhoneNumber</td>
                        <td>
                            @foreach (var item in courses) // Hämtar kursen för användaren.
                            {
                                if (item.Id == data.CourseId)
                                {
                                    IsCourse = true;
                                    <span>@item.Name</span>
                                }
                            }
                            @if (!IsCourse)
                            {
                                <span>@xtea.TxtText[69]</span>         
                            }
                            @{IsCourse = false;}
                        </td>
                        <td class="noline">
                            @if (data.Id is not null)
                            {
                                // Laddar upp ett privat dokument till en särskild student.
                                <button type="button" class="text-white coursebtn" @onclick=" _ => LoadFile(data.Id, 10, data.FirstName + ' ' + data.LastName)"
                                title=@xtea.TxtTitle[31]>+Doc</button> // CSS!
                                <div class="dropdoc">
                                    <button type="button" class="@DocClass">Docs</button>
                                    <div class="dropdoc-content">
                                        @foreach (var doc in documents)
                                        {
                                            if (doc.UserId == data.Id && doc.Id4Course != -2 && doc.ActivityId == 0)
                                            {
                                                if (doc.DocName != "")
                                                {
                                                    <a @onclick="_ => DocEditControl(doc.Id, 1)"
                                                    title="File: @doc.Description by @doc.Author @doc.TimeStamp">@doc.DocName</a> // Öppnar filen (dokumentet).
                                                }
                                                else
                                                {
                                                    <a @onmouseover="_ => ShowMessControl(doc.Description, doc.Author, doc.TimeStamp)" @onclick="_ => DeleteMess(doc.Id)"
                                                    title="Mess: @doc.Description by @doc.Author @doc.TimeStamp">From @doc.Author</a> // Visar meddelandet.
                                                }
                                            }
                                        }
                                    </div>
                                </div>
 
                                <button type="button" class="text-white coursebtn" @onclick="OpenCloseCourse"
                                title=@xtea.TxtTitle[34]>Course</button> // CSS!
                                <div class="dropuse">
                                    <button type="button" class="@CourseClass">+</button>
                                    <div class="dropuse-content">
                                        @foreach (var item in courses)
                                        {
                                            <a @onclick="_ => GetCourse(data.Id, item.Id)">@item.Name</a> // Lägger in en ny kurs för användaren.
                                        }
                                        <a @onclick="_ => GetCourse(data.Id, 0)">@xtea.TxtText[70]</a> @* No course *@ 
                                    </div>
                                </div>

                                <button type="button" class="oi oi-circle-x text-white delbtn"
                                @onclick=" _ => DeleteUser(data.Id)" title=@xtea.TxtTitle[35]></button> // CSS!
                            }
                        </td>
                    </tr>
                }
                xpag.PagCount++;
            }
        </tbody>
    </table>

    if (xpag.PagOn) // PAGINERING.
    {
        var Pnum = new List<int>(); xpag.PagCount = 0; // Skapar en lista för att kunna välja en sida.
        for (int i = 1; i <= (int)Math.Ceiling((decimal)this.students.Count / xpag.PagRows); i++) Pnum.Add(i); // Antal sidor beräknas.

        if ((xpag.PagOn && !xpag.PagAuto) || (xpag.PagOn && xpag.PagAuto && @students.Count > xpag.PagRows)) // Villkor som styrs av den automatiska pagineringen.
        {
            <section class="@xpag.ClassPag"> @*Grafiken för paginering*@
                <div style="margin: 0 auto 0 auto">
                    <span><button class="oi oi-caret-left btn btn-dark px-2 mx-2" @onclick=" _ => PagSet(xpag.PagPage - 1, 0)"></button></span> @*<<Sidoknapp*@
                    @foreach (var n in Pnum) // Radar upp sidnummerknappar och markerar numret man klickar på.
                    {
                        if (n == xpag.PagPage) // Markering av sidnummer.
                        {
                            <span><button type="button" class="pagbtnact" @onclick=" _ => PagSet(n, 0)">@n</button></span>
                        }
                        else
                        if (n % xpag.PagRed == 0) // Övriga sidor med eller utan reduktion.
                        {
                            <span><button type="button" class="pagbtn" @onclick=" _ => PagSet(n, 0)">@n</button></span>
                        }
                        if (xpag.PagRed > 1) // Mellanslag vid reduktion.
                        {
                            <span>&nbsp;</span>
                        }
                    }
                    <span><button class="oi oi-caret-right btn btn-dark px-2 mx-2" @onclick=" _ => PagSet(xpag.PagPage + 1, Pnum.Count)"></button></span> @*>>Sidoknapp*@
                    <span class="pagfind">&lsaquo;@students.Count&rsaquo;</span> @*Antal hittade*@
                </div>
            </section>
            <br />
        }
        else
        {
            <aside class="@xpag.ClassPag"> @*Antal hittade*@
                <div class="pagfind">&lsaquo;@students.Count&rsaquo;</div>
            </aside>
        }
        xpag.ClassPag = "d-flex"; // Förhindrar att sidoknapparna syns vid reloading.
    }
    else
    {
        <footer class="d-flex"> @*Antal hittade*@
            <div class="pagfind">&lsaquo;@students.Count&rsaquo;</div>
        </footer>
    }
}

</Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private ToastDeleteMess? messRef; // Delete-fönster.

    private async Task DeleteMess(int id) // Delete-fönster.
    {
        Auxx.IntId = id;
        await messRef!.Show();
        await RefreshAfterThis(true); // Uppdaterar sidan.
    }

    private ToastDeleteStudent? deleteRef; // Delete-fönster.

    private async Task DeleteUser(string id) // Delete-fönster.
    {
        Auxx.GuidId = id;
        await deleteRef!.Show();
        await RefreshAfterThis(true); // Uppdaterar sidan.
    }

    private ToastDocumentAdd? docsaveRef; // Filsparfönster.

    private async Task DocSaveControl(string id, byte doctype, string name) // Filsparfönster.
    {
        Auxx.GuidId = id;
        Auxx.DocType = doctype;
        Auxx.Name4Type = name;
        await docsaveRef!.Show();
        await RefreshAfterThis(true); // Uppdaterar sidan.
    }

    private ToastDocumentEdit? doceditRef; // Filredigeringsfönster.

    private async Task DocEditControl(int id, byte doctype) // Filredigeringsfönster.
    {
        Auxx.IntId = id;
        Auxx.DocType = doctype;
        Auxx.Documents = documents;
        await doceditRef!.Show();
        await RefreshAfterThis(true); // Uppdaterar sidan.
    }

    private ToastPagination? paginationRef; // Pagineringsfönster.

    private async Task PagControl() // Pagineringsfönster.
    {
        await paginationRef!.Show();
        await RefreshAfterThis(false); // Uppdaterar sidan.
    }

    private List<AppUserDto> students = new();

    private List<CourseDto> courses = new();

    private List<DocumentDto> documents = new();

    private string Emptydb = string.Empty;

    private string DocClass = "d-none";
    private string CourseClass = "d-none";
    private string classAvatar = "";

    private string Emptydbcolor = "headeroff";

    private bool IsCourse;
    private bool sortName;
    private bool sortCourse;

    private string searchString = string.Empty;
    private byte searchType = 1;

    private async Task PagSet(int page, int pnum) // Paginering.
    {
        xpag.PagBtnSet(page, pnum);
        await OnInitializedAsync();
    }

    private async Task RefreshAfterThis(bool delay) // Uppdaterar efter förändring av innehåll.
    {
        while (!Auxx.Flag) await xnav.Intermission(500, false); // Nödvändigt för att kunna uppdatera sidan efteråt.
        if (delay) await xnav.Intermission(1500, false); // Undviker att ShowAvatar-metoden omgående nollställer errormenyn.
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (xtea.RenderPage != "STILL_HERE")
        {
            xnav.SetJohnDoe(false);
            xnav.MainRole = 2;
            xnav.ClassSettings = "d-block"; // Settings.
            if (await xClient.GetStorage<string>("LMS_Lang") == "EN") { xtea.SetLanguage_EN(); xtoa.SetLanguage_EN(); }
            else if (await xClient.GetStorage<string>("LMS_Lang") == "SV") { xtea.SetLanguage_SV(); xtoa.SetLanguage_SV(); }
            else if (await xClient.GetStorage<string>("LMS_Lang") == "DE") { xtea.SetLanguage_DE(); xtoa.SetLanguage_DE(); }
            else if (await xClient.GetStorage<string>("LMS_Lang") == "FR") { xtea.SetLanguage_FR(); xtoa.SetLanguage_FR(); }
            else { xtea.SetLanguage_EN(); xtoa.SetLanguage_EN(); }
        }

        if (!Auxx.Flag) xnav.SetReset('a');

        await xpag.InitPag(1, students); // Pagineringskontroll.
        Auxx.Flag = false; // Efter pagineringen så att sifferraden inte döljs.

        students.Clear(); // Sökfunktionen kräver att listorna rensas.
        courses.Clear();
        documents.Clear();

        Emptydb = xtea.TxtText[44];

        var document = await xClient.GetAsync<IEnumerable<DocumentDto>>("api/Document");
        if (document is not null) documents = document.ToList(); // Hämtar alla dokument.

        if (searchType == 1) // Sökning med namn.
        {
            var appuser = await appuserClient.GetAsync();

            if (appuser is not null)
            {
                foreach (var item in appuser)
                {
                    // Sökfiltrering med IndexOf: förnamn eller efternamn.
                    if (!string.IsNullOrWhiteSpace(searchString))
                    {
                        if (item.UserRole == 1 && (item.FirstName.ToLower().IndexOf(searchString.ToLower()) != -1 ||
                        item.LastName.ToLower().IndexOf(searchString.ToLower()) != -1)) students.Add(item);
                    }
                    else
                    {
                        if (item.UserRole == 1) students.Add(item);
                    }
                }
                if (students.Count < 1) Emptydb = xtea.TxtText[46];
                if (!string.IsNullOrWhiteSpace(searchString) && students.Count < 1) Emptydb = xtea.TxtText[48];
            }
            else
            {
                Emptydb = xtea.TxtText[46];
            }

            var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");

            if (course is not null)
            {
                courses = course.ToList();
            }
        }

        if (searchType == 2) // Sökning med kurs.
        {
            var course = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");

            if (course is not null)
            {
                courses = course.ToList();
            }

            var appuser = await appuserClient.GetAsync();

            if (course is not null)
            {
                foreach (var item in course)
                {
                    // Sökfiltrering med IndexOf: kurs.
                    if (!string.IsNullOrWhiteSpace(searchString))
                    {
                        if (item.Name.ToLower().IndexOf(searchString.ToLower()) != -1)
                        {
                            if (appuser is not null)
                            {
                                foreach (var app in appuser) // Letar efter den student (1) som har den kursen.
                                {
                                    if (app.UserRole == 1 && app.CourseId == item.Id) students.Add(app);
                                }
                            }
                        }
                    }
                }

                if (appuser is not null && string.IsNullOrWhiteSpace(searchString))
                {
                    foreach (var app in appuser)
                    {
                        if (app.UserRole == 1) students.Add(app);
                    }
                }

                if (courses.Count < 1) Emptydb = xtea.TxtText[55];
                if (!string.IsNullOrWhiteSpace(searchString) && students.Count < 1) Emptydb = xtea.TxtText[56];
            }
            else
            {
                Emptydb = xtea.TxtText[55];
            }
        }

        if (sortName) students = students.OrderBy(o => o.FirstName).ToList(); // Sorterar efter namn.

        if (sortCourse) // Sorterar efter kurs.
        {
            courses = courses.OrderBy(c => c.Name).ToList();
            var StudList = new List<AppUserDto>();

            foreach (var cour in courses)
            {
                foreach (var stud in students)
                {
                    if (stud.CourseId == cour.Id) StudList.Add(stud);
                }
            }
            students = StudList;
        }

        xtea.OnChange += StateHasChanged;
        xtoa.OnChange += StateHasChanged;
    }

    private async Task LoadFile(string id, byte doctype, string name) // Öppnar filsparfönster.
    {
        if (DocClass == "text-white coursebtn") DocClass = "d-none"; // Stänger dokumentvisning.
        else
        {
            DocClass = "text-white coursebtn";
            await DocSaveControl(id, doctype, name);
        }
    }

    private void OpenCloseCourse() // Öppnar/stänger +knapp. CSS!
    {
        if (CourseClass == "d-none")
            CourseClass = "text-white coursebtn";
        else CourseClass = "d-none";
    }

    private async Task GetCourse(string id, int courseId) // Lägger in ny kurs + feedback.
    {
        courseId = courseId + 100;
        await appuserClient.PreAsync(id, courseId);
        Emptydb = xtea.TxtText[50];
        Emptydbcolor = "headeron";
        StateHasChanged();
        await xnav.Intermission(1000, false);
        Emptydb = xtea.TxtText[44];
        Emptydbcolor = "headeroff";
        Auxx.Flag = true;
        await OnInitializedAsync();
    }

    private void StudentPage()
    {
        Navigation.NavigateTo("/studentallstudents", true);
    }

    private async Task SortName() // Sorterar studenter efter deras namn.
    {
        if (sortName) sortName = false; else sortName = true;
        await OnInitializedAsync();
    }

    private async Task SortCourse() // Sorterar studenter efter deras kurs.
    {
        if (sortCourse) sortCourse = false; else sortCourse = true;
        await OnInitializedAsync();
    }

    private void ShowMessControl(string description, string author, string timestamp)
    {
        xnav.SetMess(description + " by " + author + " Created: " + timestamp);
        xnav.SetReset('m');
    }

    private void ShowAvatar(string? id)
    {
        bool FindAvatar = false;

        if (!Auxx.Flag)
        {
            foreach (var doc in documents)
            {
                if (doc.UserId == id && doc.Id4Course == -2)
                {
                    xnav.SetMessAvatar("xnavavatar", xClient.GetFilepath() + doc.NameIx + doc.DocName);
                    xnav.SetReset('v');
                    FindAvatar = true;
                }
            }

            if (!FindAvatar)
            {
                xnav.SetMessAvatar("d-none", "");
                xnav.SetReset('v');
            }
        }
    }
}
