@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging;

@page "/teacheraddcourse"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager Navigation
@inject ILogger<TeacherAddCourse> Logger
@inject IXDtoClient xClient
@inject XNavMenu xnav
@attribute [Authorize]
@*Av Björn Lindqvist*@
@*Endast lärare har åtkomst hit*@

<PageTitle>Teacher add course</PageTitle>

<AuthorizeView Roles="Teacher">
    <Authorized>
    <h3>Add a course with modules and activities...</h3>
    <br />

    <section class="@classCourse">
        <div style="display: flex; width: 80%">
            <div style="width: 50%"><h5>Add course:</h5></div>
            <div style="margin: 0 0 0 auto"><h6>@stepCourse</h6></div>
        </div>
        <EditForm EditContext="courseContext" Context="courselmslexnet" OnValidSubmit="HandleSubmitCourse">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group m-3">
                <label for="Name">Name</label>
                <InputText id="Name" class="form-control" @bind-Value="course.Name" placeholder="Enter name" />
            </div>
            <div class="form-group m-3">
                <label for="Description">Description</label>
                <InputTextArea id="Description" class="form-control" @bind-Value="course.Description" placeholder="Enter description" />
            </div>
            <div class="form-group m-3">
                <label for="Startdate">Start date</label>
                <InputDate id="Startdate" class="form-control" @bind-Value="course.StartDate" />
            </div>
            <div class="form-group m-3">
                <label for="Enddate">End date</label>
                <InputDate id="Enddate" class="form-control" @bind-Value="course.EndDate" />
            </div>
            <div class="form-group m-3">
                <button type="button" class="@classCouRegBtn m-1" @onclick="RegretRefresh" title="Avoid add course">Regret</button>
                <button type="submit" class="@classCouSubBtn m-1" title="Save only this course">Save</button>
                <button type="button" class="@classCouBtn m-1" @onclick="AddModule" title="To step 2: Add module">Add module</button>
                <button type="button" class="@classCouBtn m-1" @onclick="AddActivityType" title="Add or edit activity types">Add / edit activity types</button>
            </div>
        </EditForm>
    </section>

    @while (repeatActivityType) // Repeteringsdel för aktivitetstyper.
    {
        repeatActivityType = false;

        <section class="@classActtyp">
            <h5>Add or edit activity types:</h5>
            <EditForm EditContext="activitytypeContext" Context="activitytypelmslexnet" OnValidSubmit="HandleSubmitActivityType">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group m-3">
                    <label for="Typename">Type</label>
                    <InputSelect class="form-control" id="Typename" @bind-Value="activityType.Name">
                        @foreach (var acttype in activitytypelist)
                        {
                            <option value="@acttype.Name">@acttype.Name</option>
                        }
                    </InputSelect>
                    @{repeatActivityType = true;}
                </div>
                <div class="form-group m-3">
                    <label for="New">New</label>
                    <InputText id="New" class="form-control" @bind-Value="newActType" placeholder="Enter new name" />
                </div>
                <div class="form-group m-3">
                    <button type="button" class="@classCouRegBtn m-1" @onclick="FinishActivityType" title="Finish add or delete activity type">Finish</button>
                    <button type="submit" class="@classCouSubBtn m-1" title="Add this new activity type">Save new type</button>
                    <button type="button" class="@classCouBtn m-1" @onclick="EditActivityType" title="Edit this activity type">Edit type</button>
                </div>
            </EditForm>
        </section>
    }

    @do // Repeteringsdel för moduler och aktiviteter.
    {
        repeatModule = false;

        <section class="@classModule">
            <div style="display: flex; width: 80%">
                <div style="width: 50%"><h5>Add module:</h5></div>
                <div style="margin: 0 0 0 auto"><h6>@stepModule</h6></div>
            </div>
            <EditForm EditContext="moduleContext" Context="modulelmslexnet" OnValidSubmit="HandleSubmitModule">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group m-3">
                    <label for="Name">Name</label>
                    <InputText id="Name" class="form-control" @bind-Value="module.Name" placeholder="Enter name" />
                </div>
                <div class="form-group m-3">
                    <label for="Description">Description</label>
                    <InputTextArea id="Description" class="form-control" @bind-Value="module.Description" placeholder="Enter description" />
                </div>
                <div class="form-group m-3">
                    <label for="Startdate">Start date</label>
                    <InputDate id="Startdate" class="form-control" @bind-Value="module.StartDate" />
                </div>
                <div class="form-group m-3">
                    <label for="Enddate">End date</label>
                    <InputDate id="Enddate" class="form-control" @bind-Value="module.EndDate" />
                </div>
                <div class="form-group m-md-3">
                    <InputCheckbox id="switch" class="control-label checkbox" type="checkbox" @bind-Value="DateControl" />
                        <label class="control-label toggle" for="switch" title="To avoid entangled dates"></label>
                    @if (DateControl)
                    {
                        <span style="position: relative; top: -3px"> Complex date controll ON</span>
                    }
                    else
                    {
                        <span style="position: relative; top: -3px"> Complex date control OFF</span>
                    }
                </div>
                <div class="form-group m-3">
                    <button type="button" class="@classModRegBtn m-1" @onclick="RegretRefresh" title="Avoid add course with modules">Regret</button>
                    <button type="submit" class="@classModBtn m-1" title="To step 3: Add activity">Add activity</button>
                    <button type="button" class="@classModSubNotBtn m-1" @onclick="SaveButNotMod" title="Save course but not this module">Save but not this module</button>
                </div>
            </EditForm>
        </section>

        do // Repeteringsdel för aktiviteter.
        {
            <h5>@TestMess1</h5>
            <h5>@TestMess2</h5>
            repeatActivity = false;

            <section class="@classActivi">
                <div style="display: flex; width: 80%">
                    <div style="width: 50%"><h5>Add activity:</h5></div>
                    <div style="margin: 0 0 0 auto"><h6>@stepActivi</h6></div>
                </div>
                <EditForm EditContext="activityContext" Context="activitylmslexnet" OnValidSubmit="HandleSubmitActivity">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group m-3">
                        <label for="Name">Name</label>
                        <InputText id="Name" class="form-control" @bind-Value="activity.Name" placeholder="Enter name" />
                    </div>
                    <div class="form-group m-3">
                        <label for="Typename">Type</label>
                        <InputSelect class="form-control" id="Typename" @bind-Value="activityType.Name">
                            @foreach (var acttype in activitytypelist)
                            {
                                <option value="@acttype.Name">@acttype.Name</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="form-group m-3">
                        <label for="Description">Description</label>
                        <InputTextArea id="Description" class="form-control" @bind-Value="activity.Description" placeholder="Enter description" />
                    </div>
                    <div class="form-group m-3">
                        <label for="Startdate">Start date</label>
                        <InputDate id="Startdate" class="form-control" @bind-Value="activity.StartDate" />
                    </div>
                    <div class="form-group m-3">
                        <label for="Enddate">End date</label>
                        <InputDate id="Enddate" class="form-control" @bind-Value="activity.EndDate" />
                    </div>
                    <div class="form-group m-3">
                        <button type="button" class="@classActRegBtn m-1" @onclick="RegretRefresh" title="Avoid add course with modules and activities">Regret</button>
                        <button type="button" class="@classActBtn m-1" @onclick="AddMoreActivities" title="Add more activities">Add more activities</button>
                        <button type="submit" class="@classActSubBtn m-1" title="Save and done">Save and done</button>
                        <button type="button" class="@classActBtn m-1" @onclick="AddMoreModules" title="Save this and add more modules">Save and add more modules</button>
                        <button type="button" class="@classActSubNotBtn m-1" @onclick="SaveButNotAct" title="Save earlier but not this activity">Save but not this</button>
                    </div>
                </EditForm>
            </section>

            <section class="@classTable"> @*Hjälptabeller vid inmatning av moduler och aktiviteter*@ 
                <div style="display: flex">
                    <h4 style="width: 75%">COURSE: @course.Name</h4>
                    <h5 style="margin: 0 0 0 auto">@XNavMenu.StartEndDate(course.StartDate, course.EndDate)</h5>
                </div>
                <h6>Modules...</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Module name</th>
                            <th>Module description</th>
                            <th>Module date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    @foreach (var mod in modulelist)
                    {
                        <tr>
                            <td>@mod.Name</td>
                            <td>@mod.Description</td>
                            <td>@XNavMenu.StartEndDate(mod.StartDate, mod.EndDate)</td>
                        </tr>
                    }
                </table>
                <br />
                <h6>Activities for this module</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Activity name</th>
                            <th>Activity type</th>
                            <th>Activity description</th>
                            <th>Activity date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    @foreach (var act in activitylist)
                    {
                        <tr>
                            <td>@act.Name</td>
                            <td>@act.ActivityTypeName</td>
                            <td>@act.Description</td>
                            <td>@XNavMenu.StartEndDate(act.StartDate, act.EndDate)</td>
                        </tr>
                    }
                </table>
            </section>

        } while (repeatActivity);

    } while (repeatModule);

</Authorized>
    <NotAuthorized>
        <h5 style="font-weight: bold; color: red">You are not authorized to visit this page...</h5>
    </NotAuthorized>
</AuthorizeView>

@code {

    private EditContext courseContext = default!; // Formulärkontexter.
    private EditContext moduleContext = default!;
    private EditContext activityContext = default!;
    private EditContext activitytypeContext = default!;

    private CourseDto course = new();

    private ModuleDto module = new();

    private ActivityDto activity = new();

    private ActivityTypeDto activityType = new();

    private List<ModuleDto> modulelist = new();

    private List<ActivityDto> activitylist = new();

    private List<ActivityTypeDto> activitytypelist = new();

    private string TestMess1 = string.Empty; // Test.
    private string TestMess2 = string.Empty; // Test.

    private bool repeatModule; // Om flera moduler ska läggas till.
    private bool repeatActivity; // Om flera aktiviteter ska läggas till.
    private bool repeatActivityType; // Om flera aktivitetstyper ska läggas till.
    private bool saveActButNot; // Flagga om man ångrar en aktivitet.
    private bool DateControl = true; // När man vill slippa datumkontrollen.

    private int CourseID = 0; // Kursens Id.
    private int CountModules = 0; // Räknar antalet moduler.

    private string stepCourse = "Step 1 of 3";
    private string stepModule = "Step 2 of 3";
    private string stepActivi = "Step 3 of 3";
    private string newActType = string.Empty;

    // Klassvariabler för att visa/inte visa formulär.
    private string classCourse = "courseeditbox";
    private string classModule = "d-none";
    private string classActivi = "d-none";
    private string classActtyp = "d-none";
    private string classTable = "d-none";

    // Klassvariabler för att visa/inte visa knappar.
    private string classCouRegBtn = "btn btn-secondary btn-sm";
    private string classCouSubBtn = "btn btn-success btn-sm";
    private string classCouBtn = "btn btn-primary btn-sm";
    private string classModRegBtn = "btn btn-secondary btn-sm";
    private string classModBtn = "btn btn-primary btn-sm";
    private string classActRegBtn = "btn btn-secondary btn-sm";
    private string classActSubBtn = "btn btn-success btn-sm";
    private string classModSubNotBtn = "d-none";
    private string classActSubNotBtn = "d-none";
    private string classActBtn = "btn btn-primary btn-sm";

    protected override async Task OnInitializedAsync()
    {
        xnav.SetJohnDoe(false);
        xnav.SetReset('a');

        courseContext = new EditContext(course); // Formulärkontext.
        moduleContext = new EditContext(module);
        activityContext = new EditContext(activity);
        activitytypeContext = new EditContext(activityType);

        var actType = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");

        if (actType is not null) // Hämtar aktivitetstyper.
        {
            activitytypelist = actType.ToList();
        }
        var firstacttype = new ActivityTypeDto();
        firstacttype = activitytypelist.ElementAt(0);
        activityType.Name = firstacttype.Name;
    }

    private async Task HandleSubmitCourse()
    {
        Logger.LogInformation("HandleSubmit called");

        if (course.StartDate <= course.EndDate)
        {
            await xClient.PostAsync<CourseDto>(course, "api/Course"); // Sparar enbart kursen i databasen.
            await CreateAndRefresh();
        }
        else
        {
            xnav.SetError("Course date mismatch (start date is greater than end date).");
            xnav.SetReset('e');
        }
    }

    private async Task HandleSubmitActivityType() // Sparar aktivitetstyp.
    {
        if (newActType == "") newActType = "-";

        var dto = new ActivityTypeDto
        {
            Name = newActType
        };

        await xClient.PostAsync<ActivityTypeDto>(dto, "api/Acttype");

        activitytypelist.Clear();

        var items = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");

        if (items is not null) activitytypelist = items.ToList();

        classActtyp = "d-none";
        await xnav.Intermission(100, true);
        classActtyp = "activityeditbox";
        repeatActivityType = true;
    }

    private async Task HandleSubmitModule()
    {
        Logger.LogInformation("HandleSubmit called");

        var lmod = GetNewModObject(module);

        await xnav.Intermission(100, true);
        if (await DateModuleControl())
        {
            classActivi = "activityeditbox";
            classTable = "activityeditbox";
            stepModule = "Module ready...";
            classModRegBtn = "d-none";
            classModBtn = "d-none";
            classModSubNotBtn = "d-none";
            modulelist.Add(lmod);
        }
    }

    private async Task HandleSubmitActivity()
    {
        Logger.LogInformation("HandleSubmit called");

        var lact = await GetNewActObject(activity);

        lact.ActivityTypeName = activityType.Name;

        await xnav.Intermission(100, true);
        if (await DateActivityControl())
        {
            activitylist.Add(lact);

            await AddAllToDB(); // Adderar till databasen.
            await CreateAndRefresh();
        }
    }

    private void AddActivityType() // Hoppar till aktivitetstypfönstret.
    {
        classCourse = "d-none";
        classActtyp = "activityeditbox";
        repeatActivityType = true;
    }

    private async Task EditActivityType() // Redigerar en aktivitetstyp.
    {
        var items = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");

        if (items is not null)
        {
            foreach (var acttype in items)
            {
                if (acttype.Name == activityType.Name) activityType.Id = acttype.Id;
            }
        }

        if (newActType == "") newActType = "-";

        var dto = new ActivityTypeDto
        {
            Id = activityType.Id,
            Name = newActType
        };

        await xClient.PutAsync<ActivityTypeDto>(activityType.Id, dto, "api/Acttype");

        activitytypelist.Clear();

        items = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");

        if (items is not null) activitytypelist = items.ToList();

        classActtyp = "d-none";
        await xnav.Intermission(100, true);
        classActtyp = "activityeditbox";
        repeatActivityType = true;
    }

    private async Task FinishActivityType()
    {
        xnav.SetDone("Finish add or edit activity types.");
        xnav.SetReset('d');
        await xnav.Intermission(2000, false);
        Navigation.NavigateTo("/teacheraddcourse", true);
    }

    private async Task SaveButNotMod() // Om man ångrar en modul.
    {
        xnav.SetDone("Your course is created.");
        xnav.SetReset('d');
        await xnav.Intermission(3000, false);
        Navigation.NavigateTo("/teacherallcourses", true);
    }

    private async Task AddModule()
    {
        if (course.StartDate <= course.EndDate && course.Name != "" && course.Description != "")
        {
            classModule = "moduleeditbox";
            stepCourse = "Course ready...";
            classCouRegBtn = "d-none";
            classCouSubBtn = "d-none";
            classCouBtn = "d-none";
            xnav.SetReset('a');
        }
        else
        {
            await xnav.Intermission(100, true);
            xnav.SetError("Course date mismatch (start date is greater than end date).");
            if (course.Name == "")
                xnav.SetError("The Name field is required.");
            if (course.Description == "")
                xnav.SetError("The Description field is required.");
            if (course.Name == "" && course.Description == "")
                xnav.SetError("The Name and Description fields are required.");
            xnav.SetReset('e');
        }
    }

    private async Task AddMoreModules()
    {
        var lact = await GetNewActObject(activity);

        lact.ActivityTypeName = activityType.Name;

        await xnav.Intermission(100, true);
        if (await DateActivityControl() || saveActButNot)
        {
            if (saveActButNot) xnav.SetReset('a');
            else activitylist.Add(lact);
            saveActButNot = false;
            repeatModule = true;
            classActivi = "d-none";
            classActRegBtn = "d-none";
            classModBtn = "btn btn-primary btn-sm";
            classModSubNotBtn = "btn btn-success btn-sm";

            await AddAllToDB(); // Adderar till databasen.

            CountModules++;
            activitylist.Clear();
        }
    }

    private async Task SaveButNotAct() // Om man ångrar en aktivitet.
    {
        saveActButNot = true;
        await AddMoreModules();
    }

    private async Task AddMoreActivities()
    {
        var lact = await GetNewActObject(activity);

        lact.ActivityTypeName = activityType.Name;

        await xnav.Intermission(100, true);
        if (await DateActivityControl())
        {
            repeatActivity = true;
            activitylist.Add(lact);
            classActivi = "d-none";
            await xnav.Intermission(100, false);
            classActSubNotBtn = "btn btn-primary btn-sm";
            classActivi = "activityeditbox";
        }
    }

    private async Task RegretRefresh()
    {
        xnav.SetDone("The course was NOT edited or created.");
        xnav.SetReset('d');
        await xnav.Intermission(2000, false);
        Navigation.NavigateTo("/teacheraddcourse", true);
    }

    private async Task CreateAndRefresh()
    {
        xnav.SetDone("Your course is created.");
        xnav.SetReset('d');
        await xnav.Intermission(3000, false);
        Navigation.NavigateTo("/teacherallcourses", true);
    }

    private async Task AddAllToDB() // Adderar till databasen men utan den sista aktiviteten... 
    {
        if (CountModules < 1) // Enbart en modul.
        {
            await xClient.PostAsync<CourseDto>(course, "api/Course");

            var courses = await xClient.GetAsync<IEnumerable<CourseDto>>("api/Course");

            if (courses is not null)
            {
                foreach (var cour in courses)
                {
                    if (cour.Name == course.Name && cour.StartDate == course.StartDate && cour.EndDate == course.EndDate) CourseID = cour.Id;
                }

            }

            var lmod = GetNewModObject(module);
            await xClient.PostAsync<ModuleDto>(lmod, "api/Module");

            foreach (var act in activitylist)
            {
                var lact = await GetNewActObject(act);
                await xClient.PostAsync<ActivityDto>(lact, "api/Activity");
            }
        }   

        if (CountModules > 0) // De andra modulerna.
        {
            var lmod = GetNewModObject(module);
            await xClient.PostAsync<ModuleDto>(lmod, "api/Module");

            foreach (var act in activitylist)
            {
                var lact = await GetNewActObject(act);
                await xClient.PostAsync<ActivityDto>(lact, "api/Activity");
            }
        }
    }

    private ModuleDto GetNewModObject(ModuleDto mod) // Nytt modulobjekt.
    {
        var dto = new ModuleDto
            {
                Name = mod.Name,
                Description = mod.Description,
                StartDate = mod.StartDate,
                EndDate = mod.EndDate,
                Select = mod.Select,
                CourseId = CourseID
            };
        return dto;
    }

    private async Task<ActivityDto> GetNewActObject(ActivityDto act) // Nytt aktivitetsobject.
    {
        int ActivityTypeID = 0;
        var items = await xClient.GetAsync<IEnumerable<ActivityTypeDto>>("api/Acttype");

        if (items is not null)
        {
            foreach (var acttype in items)
            {
                if (acttype.Name == act.ActivityTypeName) ActivityTypeID = acttype.Id;
            }
        }

        var dto = new ActivityDto
            {
                Name = act.Name,
                Description = act.Description,
                StartDate = act.StartDate,
                EndDate = act.EndDate,
                Select = act.Select,
                ActivityTypeId = ActivityTypeID,
                ModuleId = await GetIdModule("api/Module")
            };
        return dto;
    }

    private async Task<int> GetIdModule(string route) // Returnerar id för modulen.
    {
        int ModuleID = 0;
        var items = await xClient.GetAsync<IEnumerable<ModuleDto>>(route);

        if (items is not null)
        {
            foreach (var mod in items)
            {
                if (mod.Name == module.Name && mod.StartDate == module.StartDate && mod.EndDate == module.EndDate) ModuleID = mod.Id;
            }
        }
        return ModuleID;
    }

    private async Task<bool> DateModuleControl() // Kontroll av datum för moduler.
    {
        bool case1 = false;
        bool case2 = false;
        bool case3 = false;
        bool case4 = false;
        bool case5 = false;
        int Count = 1;

        if (module.StartDate > module.EndDate) case1 = true; // Felaktigt start/slutdatum.

        if (module.StartDate < course.StartDate && module.EndDate < course.StartDate ||
        module.StartDate > course.EndDate && module.EndDate > course.EndDate) case2 = true; // Datum ligger utanför kursdatum.

        // Kollar om både start- och slutdatumet är lika (om så är fallet fungerar inte datumchecken).
        if (PlacingInArray(course.StartDate, 1, '=') == PlacingInArray(course.EndDate, 1, '=')) case5 = true;
        if (PlacingInArray(module.StartDate, 1, '=') == PlacingInArray(module.EndDate, 1, '=')) case5 = true;

        if (!case1 && !case2 && !case5 && DateControl)
        {
            int[] datearray = new int[100000000];
            string dates = "";
            int InInt = 0;

            xnav.SetDone("Perform a date check...");
            xnav.SetReset('d');
            await xnav.Intermission(1, false);

            // Lägger in siffror på olika platser i arrayen. En plats som dessförinnan var ett datum.
            // Undersöker även om PlacingInArray returnerar 0, vilket indikerar beräkningsfel.
            InInt = PlacingInArray(course.StartDate, Count, '+');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            InInt = PlacingInArray(course.EndDate, Count, '-');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            Count++;

            foreach (var mod in modulelist)
            {
                InInt = PlacingInArray(mod.StartDate, Count, '+');
                if (InInt < 1) case4 = true;
                datearray[InInt] = Count;
                InInt = PlacingInArray(mod.EndDate, Count, '-');
                if (InInt < 1) case4 = true;
                datearray[InInt] = Count;
                Count++;
            }
            InInt = PlacingInArray(module.StartDate, Count, '+');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            InInt = PlacingInArray(module.EndDate, Count, '-');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            Count++;

            foreach (var arr in datearray) // Lägger in siffror i rad i en sträng.
            {
                if (arr > 0) dates += arr.ToString();
            }

            //// Endast aktuellt om datumnumren kan anta identiska värden.
            //for (int i = 1; i < Count; i++) // Kollar om både start- och slutdatumet för en post blivit överskrivet av någon annan post.
            //{
            //    if (dates.IndexOf(i.ToString()) == -1) case3 = true;
            //}

            for (int i = dates.Length; i > 0; i--) // Tar successivt bort nummerpar.
            {
                if (dates.IndexOf(i.ToString() + i.ToString()) != -1) dates = dates.Replace(i.ToString() + i.ToString(), "");
            }

            if (dates.Length > 0) case3 = true; // Inga siffror kvar, ingen osymmetri!
        }

        return await CaseFalure(case1, case2, case3, case4, case5);
    }

    private async Task<bool> DateActivityControl() // Kontroll av datum för aktiviteter.
    {
        bool case1 = false;
        bool case2 = false;
        bool case3 = false;
        bool case4 = false;
        bool case5 = false;
        int Count = 1;

        if (activity.StartDate > activity.EndDate) case1 = true; // Felaktigt start/slutdatum.

        if (activity.StartDate < module.StartDate && activity.EndDate < module.StartDate ||
        activity.StartDate > module.EndDate && activity.EndDate > module.EndDate) case2 = true; // Datum ligger utanför moduldatum.

        // Kollar om både start- och slutdatumet är lika (om så är fallet fungerar inte datumchecken).
        if (PlacingInArray(activity.StartDate, 1, '=') == PlacingInArray(activity.EndDate, 1, '=')) case5 = true;

        if (!case1 && !case2 && !case5 && DateControl)
        {
            int[] datearray = new int[100000000];
            string dates = "";
            int InInt = 0;

            xnav.SetDone("Perform a date check...");
            xnav.SetReset('d');
            await xnav.Intermission(1, false);

            // Lägger in siffror på olika platser i arrayen. En plats som dessförinnan var ett datum.
            // Undersöker även om PlacingInArray returnerar 0, vilket indikerar beräkningsfel.
            InInt = PlacingInArray(module.StartDate, Count, '+');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            InInt = PlacingInArray(module.EndDate, Count, '-');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            Count++;

            foreach (var act in activitylist)
            {
                InInt = PlacingInArray(act.StartDate, Count, '+');
                if (InInt < 1) case4 = true;
                datearray[InInt] = Count;
                InInt = PlacingInArray(act.EndDate, Count, '-');
                if (InInt < 1) case4 = true;
                datearray[InInt] = Count;
                Count++;
            }
            InInt = PlacingInArray(activity.StartDate, Count, '+');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            InInt = PlacingInArray(activity.EndDate, Count, '-');
            if (InInt < 1) case4 = true;
            datearray[InInt] = Count;
            Count++;

            foreach (var arr in datearray) // Lägger in siffror i rad i en sträng.
            {
                if (arr > 0) dates += arr.ToString();
            }

            //// Endast aktuellt om datumnumren kan anta identiska värden.
            //for (int i = 1; i < Count; i++) // Kollar om både start- och slutdatumet för en post blivit överskrivet av någon annan post.
            //{
            //    if (dates.IndexOf(i.ToString()) == -1) case3 = true;
            //}

            for (int i = dates.Length; i > 0; i--) // Tar successivt bort nummerpar.
            {
                if (dates.IndexOf(i.ToString() + i.ToString()) != -1) dates = dates.Replace(i.ToString() + i.ToString(), "");
            }

            if (dates.Length > 0) case3 = true; // Inga siffror kvar, ingen osymmetri!
        }

        return await CaseFalure(case1, case2, case3, case4, case5);
    }

    private async Task<bool> CaseFalure(bool c1, bool c2, bool c3, bool c4, bool c5) // Returnerar resultat och felmeddelanden.
    {
        bool result = true;

        if ((c1 && !c5) || c2 || c3 || c4)
        {
            xnav.SetError("Date mismatch (start date is greater than end date).");
            if (c2) xnav.SetError("Date mismatch (date is outside the course or the module date).");
            if (c3) xnav.SetError("Date mismatch (entangled dates).");
            if (c4) xnav.SetError("Cannot calculate (overloading).");
            xnav.SetReset('e');
            result = false;
        }
        else xnav.SetReset('a');

        if (c5 && !c2)
        {
            xnav.SetDone("Date check is OFF because start date is equal to end date.");
            xnav.SetReset('d');
            await xnav.Intermission(2000, false);
            result = true;
        }

        if (!c1 && !c2 && !c3 && !c4 && !c5)
        {
            xnav.SetDone("Ok.");
            xnav.SetReset('d');
            await xnav.Intermission(500, false);
            xnav.SetReset('a');
        }

        return result;
    }

    // Omvandlar ett datum till ett heltal och adderar 500 för att kunna skapa unika datumnummer.
    // Ex 1: 2023-01-01 --> 230101 --> 23 ++ 032 (1 x 31 + 1) ++ 500 + count(1) = 23032501.
    // Ex 2: 2023-06-20 --> 230620 --> 23 ++ 206 (6 x 31 + 20) ++ 500 - count(1) = 23206499.
    // Ex 3: 2023-12-31 --> 231231 --> 23 ++ 403 (12 x 31 + 31) ++ 500 + count(1) = 23403501.

    private int PlacingInArray(DateTime date, int count, char pm)
    {
        int number = 0;

        // Addition av månad gånger 31 plus dagen. Därtill addition med 1000.
        int m_d = 1000 + int.Parse(date.ToString().Substring(5, 2)) * 31 + int.Parse(date.ToString().Substring(8, 2));

        // Om antalet moduler och aktiviteter är större än 499.
        if (count > 499) return 0;

        // Indatumet omvandlas till en sträng, plus m_d och plus 500 (max 500 moduler och aktiviteter).
        // Parsar detta till ett tal för att slutligen addera eller subtrahera count.
        if (pm == '+') number = int.Parse(date.ToString().Substring(2, 2) + m_d.ToString().Substring(1, 3) + "500") + count;
        if (pm == '-') number = int.Parse(date.ToString().Substring(2, 2) + m_d.ToString().Substring(1, 3) + "500") - count;

        // För kontroll om samma datum ges på både start- och slutdatum.
        if (pm == '=') number = int.Parse(date.ToString().Substring(2, 2) + m_d.ToString().Substring(1, 3));

        return number;
    }
}
