@inject AuthenticationStateProvider AuthenticationStateProvider
@inject XNavMenu xnav
@*Av Jonny Walter*@

<div class="top-row ps-2 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img style="width: 215px" src="images/LexiconLMSBlazor.png" alt="Brand image" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="Student, Teacher">
    <Authorized>
        @if (context.User.IsInRole("Student"))
        {
            Logintype = "S T U D E N T";
            Navbtn1 = "Course";
            Navlink1 = "studentallstudents";
            Navbtn2 = "Students";
            Navlink2 = "studentall";
            Navbtn3 = string.Empty;
            Navlink3 = string.Empty;
            Navbtn4 = string.Empty;
            Navlink4 = string.Empty;
            Navbtn5 = string.Empty;
        }

        @if (context.User.IsInRole("Teacher"))
        {
            Logintype = "T E A C H E R";
            Navbtn1 = "All courses";
            Navlink1 = "teacherallcourses";
            Navbtn2 = "Add course";
            Navlink2 = "teacheraddcourse";
            Navbtn3 = "All teachers";
            Navlink3 = "teacherallteachers";
            Navbtn4 = "All students";
            Navlink4 = "teacherallstudents";
            Navbtn5 = "All unregistered";
            Navlink5 = "teacherallunregistered";
        }

        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                @if (Logintype != string.Empty) // Student eller teacher.
                {
                    <div style="text-align: center; padding: 20px; color: white">
                        @Logintype
                    </div>
                }
                <div class="nav-item px-3">
                    <NavLink class="nav-link bhover" href="/" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                @if (Navbtn1 != string.Empty) // Menyval 1.
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link bhover" href="@Navlink1">
                            <span aria-hidden="true"></span>@Navbtn1
                        </NavLink>
                    </div>
                }
                @if (Navbtn2 != string.Empty) // Menyval 2.
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link bhover" href="@Navlink2">
                            <span aria-hidden="true"></span>@Navbtn2
                        </NavLink>
                    </div>
                }
                @if (Navbtn3 != string.Empty) // Menyval 3.
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link bhover" href="@Navlink3">
                            <span aria-hidden="true"></span>@Navbtn3
                        </NavLink>
                    </div>
                }
                @if (Navbtn4 != string.Empty) // Menyval 4.
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link bhover" href="@Navlink4">
                            <span aria-hidden="true"></span>@Navbtn4
                        </NavLink>
                    </div>
                }
                @if (Navbtn5 != string.Empty) // Menyval 5.
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link bhover" href="@Navlink5">
                            <span aria-hidden="true"></span>@Navbtn5
                        </NavLink>
                    </div>
                }
            </nav>
            <footer class="xnavwindow"> @*Info, Done and Error window*@
                <div class="@xnav.classInfoMess">
                    <div>Info:</div>
                    <div>@xnav.InfoMess</div>
                </div>
                <div class="@xnav.classDoneMess">
                    <div>Done:</div>
                    <div>@xnav.DoneMess</div>
                </div>
                <div class="@xnav.classErrorMess">
                    <div>Error:</div>
                    <div>@xnav.ErrorMess</div>
                </div>
            </footer>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string Logintype = string.Empty;
    private string Homeclass = string.Empty;
    private string Navbtn1 = string.Empty;
    private string Navlink1 = string.Empty;
    private string Navbtn2 = string.Empty;
    private string Navlink2 = string.Empty;
    private string Navbtn3 = string.Empty;
    private string Navlink3 = string.Empty;
    private string Navbtn4 = string.Empty;
    private string Navlink4 = string.Empty;
    private string Navbtn5 = string.Empty;
    private string Navlink5 = string.Empty;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        xnav.OnChange += StateHasChanged;
    }
}
